<div
    class="navbar-area bg-[#f0f8ff] border-b border-[#dfefff] relative z-[2] py-[20px] lg:py-[25px] xl:py-0"
    [ngClass]="{'white-navbar bg-white border-none': router.url === '/', 'transparent-navbar': router.url === '/index-3', 'isSticky': isSticky}"
>
    <div class="mx-auto px-[12px] sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] 2xl:max-w-[1920px] 2xl:px-[30px] 3xl:px-[120px]">
        <nav class="navbar relative flex flex-wrap" [class.active]="classApplied">
            <div class="self-center">
                <a
                    routerLink="/"
                    [ngClass]="{'hidden': router.url === '/index-3'}"
                >
                    <img src="assets/images/logo.png" class="inline" alt="logo"> <!-- Black Navbar -->
                </a>
                <a
                    routerLink="/"
                    class="hidden"
                    [ngClass]="{'inline-block': router.url === '/index-3'}"
                >
                    <img src="assets/images/white-logo.png" class="inline" alt="white-logo"> <!-- White Navbar -->
                </a>
            </div>
            <button
                class="navbar-toggler absolute ml-auto right-0 top-[4px] xl:hidden"
                type="button"
                (click)="toggleClass()"
            >
                <span
                    class="burger-menu text-black cursor-pointer leading-none text-[30px]"
                    [ngClass]="{'text-white': router.url === '/index-3'}"
                >
                    <i class="ri-menu-line"></i>
                </span>
            </button>

        </nav>
    </div>
</div>
