<div class="bg-[#f0f8ff]">

    <!-- Page Title -->
    <div class="pt-[20px] md:pt-[25px]">
        <div class="container mx-auto px-[12px] 2xl:px-0">
            <ul class="text-[#4c4c4c] text-[14px]">
                <li class="inline-block mr-[22px] last:mr-[0] relative before:absolute before:-right-[11px] before:top-[3.5px] before:w-[1px] before:h-[8px] before:bg-[#4c4c4c] before:-rotate-[45deg] after:absolute after:-right-[11px] after:bottom-[3.5px] after:w-[1px] after:h-[8px] after:bg-[#4c4c4c] after:rotate-[45deg] last:before:hidden last:after:hidden">
                    <a routerLink="/" class="transition-all hover:text-[#0a64bc]">
                        Home
                    </a>
                </li>
                <li class="inline-block mr-[22px] last:mr-[0] relative before:absolute before:-right-[11px] before:top-[3.5px] before:w-[1px] before:h-[8px] before:bg-[#4c4c4c] before:-rotate-[45deg] after:absolute after:-right-[11px] after:bottom-[3.5px] after:w-[1px] after:h-[8px] after:bg-[#4c4c4c] after:rotate-[45deg] last:before:hidden last:after:hidden">
                    Pricing Plan
                </li>
            </ul>
        </div>
    </div>
    <div class="pt-[60px] md:pt-[80px] lg:pt-[75px] pb-[60px] md:pb-[80px] lg:pb-[100px] xl:pb-[120px]">
        <div class="container mx-auto px-[12px] 2xl:px-0">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-[25px]">
                <div class="self-center">
                    <span class="block uppercase font-medium text-[14px] md:text-[15px] lg:text-[16px] text-[#0a64bc] mb-[7px] md:mb-[8px] lg:mb-[10px] xl:mb-[12px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                        Our Pricing Plan
                    </span>
                    <h2 class="text-black font-bold font-serif text-[28px] md:text-[34px] lg:text-[38px] xl:text-[42px] leading-[1.2]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                        Tailored Pricing Plans for Your Financial Needs: Choose the Perfect Package with <span class="text-[#0a64bc]">Tartu</span>
                    </h2>
                </div>
                <div class="self-center xl:ml-[80px] 2xl:ml-[130px] relative z-[1] md:pl-[10px] before:left-0 before:top-0 before:bottom-0 before:right-0 before:bg-[#b31942] before:absolute before:-z-[1] before:rounded-[20px] before:hidden md:before:block" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    <img src="assets/images/happy-team.jpg" class="rounded-[20px]" alt="happy-team-image">
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title -->

    <app-simplify-style-two></app-simplify-style-two>

    <app-pricing></app-pricing>

    <app-investment-benefits></app-investment-benefits>

    <div class="py-[60px] md:py-[80px] lg:py-[100px] xl:py-[120px]">
        <div class="container mx-auto px-[12px] 2xl:px-0">
            <div class="mb-[30px] md:mb-[40px] lg:mb-[50px] text-center">
                <span class="block uppercase font-medium text-[14px] md:text-[15px] lg:text-[16px] text-[#0a64bc] mb-[7px] md:mb-[8px] lg:mb-[10px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    FAQ’s
                </span>
                <h2 class="text-black font-bold font-serif text-[28px] md:text-[34px] lg:text-[38px] xl:text-[42px] ml-auto mr-auto lg:max-w-[640px] leading-[1.2]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                    Frequently Asked & Questions
                </h2>
            </div>
            <app-faq></app-faq>
        </div>
    </div>

</div>