<div class="bg-[#f0f8ff] pt-[60px] md:pt-[80px] lg:pt-[100px] xl:pt[120px] pb-[30px] md:pb-[40px] lg:pb-[50px] xl:pb-[60px]">
    <div class="container mx-auto px-[12px] 2xl:px-0">
        <div class="grid grid-cols-1 lg:grid-cols-2 bg-white rounded-[20px]">
            <div class="self-center order-2 lg:order-1">
                <img src="assets/images/login.jpg" class="inline rounded-[20px]" alt="login-image">
            </div>
            <div class="self-center order-1 lg:order-2 text-center py-[30px] md:py-[50px] lg:py-[30px] px-[15px] sm:px-[30px] md:px-[80px] lg:px-[50px] 2xl:px-[100px]">
                <a routerLink="/" class="inline-block mb-[20px] md:mb-[30px] xl:mb-[40px]">
                    <img src="assets/images/logo.png" alt="logo">
                </a>
                <form>
                    <div class="mb-[15px] xl:mb-[20px] relative">
                        <i class="ri-user-line absolute -mt-[1px] left-[18px] md:left-[22px] text-[#0a64bc] leading-none top-1/2 -translate-y-2/4 text-[20px]"></i>
                        <input type="text" class="block w-full text-[14px] md:text-[15px] text-black outline-0 bg-[#f2f2f8] h-[45px] md:h-[48px] rounded-[100px] placeholder:text-[#4c4c4c] placeholder:transition-all focus:placeholder:text-transparent px-[45px] md:px-[53px]" placeholder="Username">
                    </div>
                    <div class="mb-[15px] xl:mb-[20px] relative">
                        <i class="ri-key-2-line absolute -mt-[1px] left-[18px] md:left-[22px] text-[#0a64bc] leading-none top-1/2 -translate-y-2/4 text-[20px]"></i>
                        <input type="{{ showPassword ? 'text' : 'password' }}" id="password" class="block w-full text-[14px] md:text-[15px] text-black outline-0 bg-[#f2f2f8] h-[45px] md:h-[48px] rounded-[100px] placeholder:text-[#4c4c4c] placeholder:transition-all focus:placeholder:text-transparent px-[45px] md:px-[53px]" placeholder="Password">
                        <button type="button" class="absolute right-[18px] md:right-[22px] leading-none top-1/2 -translate-y-2/4 text-black text-[18px] transition-all hover:text-[#0a64bc]" (click)="togglePasswordVisibility()">
                            <i class="ri-eye-line"></i>
                        </button>
                    </div>
                    <button type="submit" class="block w-full uppercase text-[14px] font-medium transition-all text-white border rounded-[100px] border-[#0a64bc] bg-[#0a64bc] py-[11px] md:py-[12.5px] px-[25px] hover:border-[#b31942] hover:bg-[#b31942]">
                        Login
                    </button>
                </form>
                <a routerLink="/" class="mt-[20px] inline-block text-[14px] md:text-[15px] text-[#0153f3] transition-all leading-none hover:text-[#b31942]">
                    Lost your username or password?
                </a>
                <div class="border-top h-[1px] my-[18px] md:my-[20px] xl:my-[30px] relative before:absolute before:left-0 before:right-0 before:h-[1px] before:top-0"></div>
                <p class="leading-none text-[14px] md:text-[15px] text-[#4c4c4c] mb-[20px] md:mb-[25px]">
                    Don’t have an account? Open new account
                </p>
                <a routerLink="/register" class="block w-full uppercase text-[14px] font-medium transition-all text-[#0a64bc] border rounded-[100px] border-[#0a64bc] py-[11px] md:py-[12.5px] px-[25px] hover:text-white hover:bg-[#0a64bc]">
                    Open Account
                </a>
            </div>
        </div>
        <div class="pt-[30px] md:pt-[40px] lg:pt-[50px] xl:pt-[60px] text-center">
            <div class="lg:flex justify-center">
                <div class="self-center">
                    <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7]">
                        © Tartu. All Rights Reserved by <a href="https://hibootstrap.com/" class="text-black font-medium transition-all hover:text-[#0a64bc]" target="_blank">HiBootstrap</a>
                    </p>
                </div>
                <div class="self-center mt-[8px] lg:mt-0 lg:ml-[45px]">
                    <a routerLink="/privacy-policy" class="inline-block text-[14px] md:text-[15px] text-[#4c4c4c] transition-all underline hover:text-[#0a64bc] mr-[24px] last:mr-0">
                        Privacy Policy
                    </a>
                    <a routerLink="/terms-conditions" class="inline-block text-[14px] md:text-[15px] text-[#4c4c4c] transition-all underline hover:text-[#0a64bc] mr-[24px] last:mr-0">
                        Terms & Service
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>