<div class="bg-[#f0f8ff]">

    <!-- Page Title -->
    <div class="pt-[20px] md:pt-[25px] pb-[20px] md:pb-[25px] lg:pb-[30px] xl:pb-[40px]">
        <div class="container mx-auto px-[12px] 2xl:px-0">
            <ul class="text-[#4c4c4c] text-[14px]">
                <li class="inline-block mr-[22px] last:mr-[0] relative before:absolute before:-right-[11px] before:top-[3.5px] before:w-[1px] before:h-[8px] before:bg-[#4c4c4c] before:-rotate-[45deg] after:absolute after:-right-[11px] after:bottom-[3.5px] after:w-[1px] after:h-[8px] after:bg-[#4c4c4c] after:rotate-[45deg] last:before:hidden last:after:hidden">
                    <a routerLink="/" class="transition-all hover:text-[#0a64bc]">
                        Home
                    </a>
                </li>
                <li class="inline-block mr-[22px] last:mr-[0] relative before:absolute before:-right-[11px] before:top-[3.5px] before:w-[1px] before:h-[8px] before:bg-[#4c4c4c] before:-rotate-[45deg] after:absolute after:-right-[11px] after:bottom-[3.5px] after:w-[1px] after:h-[8px] after:bg-[#4c4c4c] after:rotate-[45deg] last:before:hidden last:after:hidden">
                    Insights
                </li>
            </ul>
        </div>
    </div>
    <!-- End Page Title -->

    <!-- Blog -->
    <div class="pb-[60px] md:pb-[80px] lg:pb-[100px] xl:pb-[120px]">
        <div class="container mx-auto px-[12px] 2xl:px-0">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-[25px] relative z-[1] py-[25px] md:py-[30px] lg:py-[40px] xl:py-[50px] px-[20px] md:px-[30px] lg:px-0 before:absolute before:left-0 before:right-0 before:top-0 before:bottom-0 before:-z-[1] before:rounded-[20px] before:border before:border-[#cde6ff] lg:before:mr-[200px] xl:before:mr-[230px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                <div class="self-center lg:pl-[40px] xl:pl-[60px] 2xl:pl-[80px]">
                    <span class="block uppercase font-medium text-[14px] md:text-[15px] lg:text-[16px] text-[#0a64bc] mb-[7px] md:mb-[10px] lg:mb-[12px]">
                        20 September, 2024
                    </span>
                    <h2 class="font-bold font-serif text-[28px] md:text-[34px] lg:text-[38px] xl:text-[42px] leading-[1.2] mb-[15px]">
                        <a routerLink="/blog-details" class="text-black transition-all hover:text-[#0a64bc]">
                            A Comprehensive Guide to Understanding Tax Laws, Strategies, and Savings with Expert Insights
                        </a>
                    </h2>
                    <a routerLink="/blog-details" class="mt-[5px] md:mt-[10px] lg:mt-[20px] inline-block uppercase text-[13px] md:text-[14px] font-medium text-[#0a64bc] relative pr-[30px] transition-all hover:pr-[40px]">
                        Read More
                        <svg class="absolute right-[-2px] -mt-[.5px] top-1/2 -translate-y-2/4" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                            <path d="M12.025 4.94165L17.0833 9.99998L12.025 15.0583" stroke="#0a64bc" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M2.91669 10H16.9417" stroke="#0a64bc" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
                <div class="self-center rounded-[20px] lg:pl-[30px] xl:pl-[80px] 2xl:pl-[130px]">
                    <a routerLink="/blog-details" class="block rounded-[20px] md:pl-[10px] relative z-[1] before:absolute before:left-0 before:right-0 before:top-0 before:bottom-0 before:-z-[1] before:rounded-[20px] before:bg-[#b31942] before:hidden md:before:block">
                        <img src="assets/images/blogs/main-blog.jpg" class="inline rounded-[20px]" alt="blog-image">
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="pb-[60px] md:pb-[80px] lg:pb-[100px] xl:pb-[120px]">
        <div class="container mx-auto px-[12px] 2xl:px-0">
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[25px]">
                <div class="pl-[15px] pr-[15px] pb-[20px] md:pl-[20px] md:pr-[20px] md:pb-[25px] xl:pl-[25px] xl:pr-[25px] xl:pb-[30px] relative z-[1] before:absolute before:left-0 before:right-0 before:bottom-0 before:top-0 before:-z-[1] before:border before:border-[#daebff] before:rounded-[15px] before:mt-[115px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    <a routerLink="/blog-details" class="block relative z-[1] rounded-[15px] pb-[7px] before:absolute before:bg-[#b31942] before:left-0 before:right-0 before:top-0 before:bottom-0 before:rounded-[15px] before:-z-[1]">
                        <img src="assets/images/blogs/blog1.jpg" class="rounded-[15px]" alt="blog-image">
                    </a>
                    <div class="mt-[20px] ml-[5px] mr-[5px] md:mt-[25px] md:ml-[10px] md:mr-[10px] xl:mt-[30px] 2xl:ml-[25px] 2xl:mr-[25px]">
                        <span class="block uppercase text-[#4c4c4c] text-[14px] font-medium mb-[8px]">
                            27 September, 2024
                        </span>
                        <h3 class="font-serif font-bold text-black text-[18px] md:text-[20px] lg:text-[22px] mb-[8px] md:mb-[10px] lg:mb-[12px]">
                            <a routerLink="/blog-details" class="text-black transition-all hover:text-[#0a64bc] inline-block">
                                Banking at Your Fingertips: The Rise of Digital Banking
                            </a>
                        </h3>
                        <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7] xl:max-w-[315px]">
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia.
                        </p>
                        <a routerLink="/blog-details" class="inline-block uppercase text-[13px] md:text-[14px] font-medium text-[#0a64bc] mt-[16px] md:mt-[18px] lg:mt-[20px] xl:mt-[25px] relative pr-[30px] transition-all hover:pr-[40px]">
                            Learn More
                            <svg class="absolute right-[-2px] top-1/2 -translate-y-2/4" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path d="M12.025 4.94165L17.0833 9.99998L12.025 15.0583" stroke="#0a64bc" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M2.91669 10H16.9417" stroke="#0a64bc" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="pl-[15px] pr-[15px] pb-[20px] md:pl-[20px] md:pr-[20px] md:pb-[25px] xl:pl-[25px] xl:pr-[25px] xl:pb-[30px] relative z-[1] before:absolute before:left-0 before:right-0 before:bottom-0 before:top-0 before:-z-[1] before:border before:border-[#daebff] before:rounded-[15px] before:mt-[115px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                    <a routerLink="/blog-details" class="block relative z-[1] rounded-[15px] pb-[7px] before:absolute before:bg-[#b31942] before:left-0 before:right-0 before:top-0 before:bottom-0 before:rounded-[15px] before:-z-[1]">
                        <img src="assets/images/blogs/blog2.jpg" class="rounded-[15px]" alt="blog-image">
                    </a>
                    <div class="mt-[20px] ml-[5px] mr-[5px] md:mt-[25px] md:ml-[10px] md:mr-[10px] xl:mt-[30px] 2xl:ml-[25px] 2xl:mr-[25px]">
                        <span class="block uppercase text-[#4c4c4c] text-[14px] font-medium mb-[8px]">
                            26 September, 2024
                        </span>
                        <h3 class="font-serif font-bold text-black text-[18px] md:text-[20px] lg:text-[22px] mb-[8px] md:mb-[10px] lg:mb-[12px]">
                            <a routerLink="/blog-details" class="text-black transition-all hover:text-[#0a64bc] inline-block">
                                Simplify, Save, Succeed: The Benefits of Digital Banking
                            </a>
                        </h3>
                        <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7] xl:max-w-[315px]">
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia.
                        </p>
                        <a routerLink="/blog-details" class="inline-block uppercase text-[13px] md:text-[14px] font-medium text-[#0a64bc] mt-[16px] md:mt-[18px] lg:mt-[20px] xl:mt-[25px] relative pr-[30px] transition-all hover:pr-[40px]">
                            Learn More
                            <svg class="absolute right-[-2px] top-1/2 -translate-y-2/4" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path d="M12.025 4.94165L17.0833 9.99998L12.025 15.0583" stroke="#0a64bc" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M2.91669 10H16.9417" stroke="#0a64bc" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="pl-[15px] pr-[15px] pb-[20px] md:pl-[20px] md:pr-[20px] md:pb-[25px] xl:pl-[25px] xl:pr-[25px] xl:pb-[30px] relative z-[1] before:absolute before:left-0 before:right-0 before:bottom-0 before:top-0 before:-z-[1] before:border before:border-[#daebff] before:rounded-[15px] before:mt-[115px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                    <a routerLink="/blog-details" class="block relative z-[1] rounded-[15px] pb-[7px] before:absolute before:bg-[#b31942] before:left-0 before:right-0 before:top-0 before:bottom-0 before:rounded-[15px] before:-z-[1]">
                        <img src="assets/images/blogs/blog3.jpg" class="rounded-[15px]" alt="blog-image">
                    </a>
                    <div class="mt-[20px] ml-[5px] mr-[5px] md:mt-[25px] md:ml-[10px] md:mr-[10px] xl:mt-[30px] 2xl:ml-[25px] 2xl:mr-[25px]">
                        <span class="block uppercase text-[#4c4c4c] text-[14px] font-medium mb-[8px]">
                            25 September, 2024
                        </span>
                        <h3 class="font-serif font-bold text-black text-[18px] md:text-[20px] lg:text-[22px] mb-[8px] md:mb-[10px] lg:mb-[12px]">
                            <a routerLink="/blog-details" class="text-black transition-all hover:text-[#0a64bc] inline-block">
                                Your Money, Your Way: The Allure of Digital Banking
                            </a>
                        </h3>
                        <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7] xl:max-w-[315px]">
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia.
                        </p>
                        <a routerLink="/blog-details" class="inline-block uppercase text-[13px] md:text-[14px] font-medium text-[#0a64bc] mt-[16px] md:mt-[18px] lg:mt-[20px] xl:mt-[25px] relative pr-[30px] transition-all hover:pr-[40px]">
                            Learn More
                            <svg class="absolute right-[-2px] top-1/2 -translate-y-2/4" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path d="M12.025 4.94165L17.0833 9.99998L12.025 15.0583" stroke="#0a64bc" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M2.91669 10H16.9417" stroke="#0a64bc" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="pl-[15px] pr-[15px] pb-[20px] md:pl-[20px] md:pr-[20px] md:pb-[25px] xl:pl-[25px] xl:pr-[25px] xl:pb-[30px] relative z-[1] before:absolute before:left-0 before:right-0 before:bottom-0 before:top-0 before:-z-[1] before:border before:border-[#daebff] before:rounded-[15px] before:mt-[115px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    <a routerLink="/blog-details" class="block relative z-[1] rounded-[15px] pb-[7px] before:absolute before:bg-[#b31942] before:left-0 before:right-0 before:top-0 before:bottom-0 before:rounded-[15px] before:-z-[1]">
                        <img src="assets/images/blogs/blog4.jpg" class="rounded-[15px]" alt="blog-image">
                    </a>
                    <div class="mt-[20px] ml-[5px] mr-[5px] md:mt-[25px] md:ml-[10px] md:mr-[10px] xl:mt-[30px] 2xl:ml-[25px] 2xl:mr-[25px]">
                        <span class="block uppercase text-[#4c4c4c] text-[14px] font-medium mb-[8px]">
                            24 September, 2024
                        </span>
                        <h3 class="font-serif font-bold text-black text-[18px] md:text-[20px] lg:text-[22px] mb-[8px] md:mb-[10px] lg:mb-[12px]">
                            <a routerLink="/blog-details" class="text-black transition-all hover:text-[#0a64bc] inline-block">
                                Understanding Your Credit Score and Report
                            </a>
                        </h3>
                        <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7] xl:max-w-[315px]">
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia.
                        </p>
                        <a routerLink="/blog-details" class="inline-block uppercase text-[13px] md:text-[14px] font-medium text-[#0a64bc] mt-[16px] md:mt-[18px] lg:mt-[20px] xl:mt-[25px] relative pr-[30px] transition-all hover:pr-[40px]">
                            Learn More
                            <svg class="absolute right-[-2px] top-1/2 -translate-y-2/4" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path d="M12.025 4.94165L17.0833 9.99998L12.025 15.0583" stroke="#0a64bc" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M2.91669 10H16.9417" stroke="#0a64bc" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="pl-[15px] pr-[15px] pb-[20px] md:pl-[20px] md:pr-[20px] md:pb-[25px] xl:pl-[25px] xl:pr-[25px] xl:pb-[30px] relative z-[1] before:absolute before:left-0 before:right-0 before:bottom-0 before:top-0 before:-z-[1] before:border before:border-[#daebff] before:rounded-[15px] before:mt-[115px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                    <a routerLink="/blog-details" class="block relative z-[1] rounded-[15px] pb-[7px] before:absolute before:bg-[#b31942] before:left-0 before:right-0 before:top-0 before:bottom-0 before:rounded-[15px] before:-z-[1]">
                        <img src="assets/images/blogs/blog5.jpg" class="rounded-[15px]" alt="blog-image">
                    </a>
                    <div class="mt-[20px] ml-[5px] mr-[5px] md:mt-[25px] md:ml-[10px] md:mr-[10px] xl:mt-[30px] 2xl:ml-[25px] 2xl:mr-[25px]">
                        <span class="block uppercase text-[#4c4c4c] text-[14px] font-medium mb-[8px]">
                            23 September, 2024
                        </span>
                        <h3 class="font-serif font-bold text-black text-[18px] md:text-[20px] lg:text-[22px] mb-[8px] md:mb-[10px] lg:mb-[12px]">
                            <a routerLink="/blog-details" class="text-black transition-all hover:text-[#0a64bc] inline-block">
                                Savings vs. Investments: Finding the Balance
                            </a>
                        </h3>
                        <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7] xl:max-w-[315px]">
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia.
                        </p>
                        <a routerLink="/blog-details" class="inline-block uppercase text-[13px] md:text-[14px] font-medium text-[#0a64bc] mt-[16px] md:mt-[18px] lg:mt-[20px] xl:mt-[25px] relative pr-[30px] transition-all hover:pr-[40px]">
                            Learn More
                            <svg class="absolute right-[-2px] top-1/2 -translate-y-2/4" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path d="M12.025 4.94165L17.0833 9.99998L12.025 15.0583" stroke="#0a64bc" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M2.91669 10H16.9417" stroke="#0a64bc" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="pl-[15px] pr-[15px] pb-[20px] md:pl-[20px] md:pr-[20px] md:pb-[25px] xl:pl-[25px] xl:pr-[25px] xl:pb-[30px] relative z-[1] before:absolute before:left-0 before:right-0 before:bottom-0 before:top-0 before:-z-[1] before:border before:border-[#daebff] before:rounded-[15px] before:mt-[115px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                    <a routerLink="/blog-details" class="block relative z-[1] rounded-[15px] pb-[7px] before:absolute before:bg-[#b31942] before:left-0 before:right-0 before:top-0 before:bottom-0 before:rounded-[15px] before:-z-[1]">
                        <img src="assets/images/blogs/blog6.jpg" class="rounded-[15px]" alt="blog-image">
                    </a>
                    <div class="mt-[20px] ml-[5px] mr-[5px] md:mt-[25px] md:ml-[10px] md:mr-[10px] xl:mt-[30px] 2xl:ml-[25px] 2xl:mr-[25px]">
                        <span class="block uppercase text-[#4c4c4c] text-[14px] font-medium mb-[8px]">
                            22 September, 2024
                        </span>
                        <h3 class="font-serif font-bold text-black text-[18px] md:text-[20px] lg:text-[22px] mb-[8px] md:mb-[10px] lg:mb-[12px]">
                            <a routerLink="/blog-details" class="text-black transition-all hover:text-[#0a64bc] inline-block">
                                Tips for Building a Strong Financial Future
                            </a>
                        </h3>
                        <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7] xl:max-w-[315px]">
                            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia.
                        </p>
                        <a routerLink="/blog-details" class="inline-block uppercase text-[13px] md:text-[14px] font-medium text-[#0a64bc] mt-[16px] md:mt-[18px] lg:mt-[20px] xl:mt-[25px] relative pr-[30px] transition-all hover:pr-[40px]">
                            Learn More
                            <svg class="absolute right-[-2px] top-1/2 -translate-y-2/4" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path d="M12.025 4.94165L17.0833 9.99998L12.025 15.0583" stroke="#0a64bc" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M2.91669 10H16.9417" stroke="#0a64bc" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div class="text-center mt-[30px] md:mt-[35px] lg:mt-[45px] xl:mt-[60px] font-serif" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                <span class="inline-block relative w-[36px] h-[36px] rounded-full bg-white leading-[36px] text-black text-[15px] mx-[4px]">
                    <span class="absolute left-0 right-0 top-1/2 -translate-y-2/4">
                        <i class="ri-arrow-left-s-line text-[24px] relative top-[1.5px] -left-[.5px]"></i>
                    </span>
                </span>
                <span class="inline-block relative w-[36px] h-[36px] rounded-full leading-[36px] text-black transition-all bg-[#0a64bc] text-white hover:bg-[#0a64bc] hover:text-white text-[15px] mx-[4px]">
                    <span class="absolute left-0 right-0 top-1/2 -translate-y-2/4">
                        1
                    </span>
                </span>
                <a routerLink="/blog" class="inline-block relative w-[36px] h-[36px] rounded-full bg-white leading-[36px] text-black transition-all hover:bg-[#0a64bc] hover:text-white text-[15px] mx-[4px]">
                    <span class="absolute left-0 right-0 top-1/2 -translate-y-2/4">
                        2
                    </span>
                </a>
                <a routerLink="/blog" class="inline-block relative w-[36px] h-[36px] rounded-full bg-white leading-[36px] text-black transition-all hover:bg-[#0a64bc] hover:text-white text-[15px] mx-[4px]">
                    <span class="absolute left-0 right-0 top-1/2 -translate-y-2/4">
                        3
                    </span>
                </a>
                <a routerLink="/blog" class="inline-block relative w-[36px] h-[36px] rounded-full bg-white leading-[36px] text-black transition-all hover:bg-[#0a64bc] hover:text-white text-[15px] mx-[4px]">
                    <span class="absolute left-0 right-0 top-1/2 -translate-y-2/4">
                        4
                    </span>
                </a>
                <a routerLink="/blog" class="inline-block relative w-[36px] h-[36px] rounded-full bg-white leading-[36px] text-black transition-all hover:bg-[#0a64bc] hover:text-white text-[15px] mx-[4px]">
                    <span class="absolute left-0 right-0 top-1/2 -translate-y-2/4">
                        5
                    </span>
                </a>
                <a routerLink="/blog" class="inline-block relative w-[36px] h-[36px] rounded-full bg-white leading-[36px] text-black transition-all hover:bg-[#0a64bc] hover:text-white text-[15px] mx-[4px]">
                    <span class="absolute left-0 right-0 top-1/2 -translate-y-2/4">
                        <i class="ri-arrow-right-s-line text-[24px] relative top-[1.5px] left-[.5px]"></i>
                    </span>
                </a>
            </div>
        </div>
    </div>
    <!-- End Blog -->

</div>