<div class="container mx-auto px-[12px] 2xl:px-0">
    <div 
        class="bg-center bg-cover bg-no-repeat rounded-[20px] py-[60px] px-[15px] md:py-[80px] md:px-[50px] lg:py-[90px] lg:px-[95px]"
        style="background-image: url(assets/images/gift-mobile.jpg);"
    >
        <h2 class="text-white font-bold font-serif text-[28px] md:text-[34px] lg:text-[38px] xl:text-[42px] leading-[1.2] md:max-w-[485px] mb-[10px] md:mb-[15px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
            Join Us in Embracing the Future of Digital Banking Revolution
        </h2>
        <p class="text-[14px] md:text-[15px] text-white leading-[1.7] md:max-w-[490px] mb-[15px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
            Our user-friendly digital platform allows you to open an account from the comfort of your home or on the go, anytime, anywhere
        </p>
        <a routerLink="/login" class="mt-[2px] md:mt-[5px] lg:mt-[10px] py-[11px] md:py-[12px] lg:py-[13px] px-[30px] md:px-[40px] inline-block text-white text-[13px] md:text-[14px] font-medium uppercase border border-[#b31942] bg-[#b31942] rounded-full transition-all hover:bg-white hover:text-[#b31942] hover:border-white" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
            Open Account
        </a>
    </div>
</div>