<div class="bg-[#f0f8ff]">

    <!-- Page Title -->
    <div class="pt-[20px] md:pt-[25px]">
        <div class="container mx-auto px-[12px] 2xl:px-0">
            <ul class="text-[#4c4c4c] text-[14px]">
                <li class="inline-block mr-[22px] last:mr-[0] relative before:absolute before:-right-[11px] before:top-[3.5px] before:w-[1px] before:h-[8px] before:bg-[#4c4c4c] before:-rotate-[45deg] after:absolute after:-right-[11px] after:bottom-[3.5px] after:w-[1px] after:h-[8px] after:bg-[#4c4c4c] after:rotate-[45deg] last:before:hidden last:after:hidden">
                    <a routerLink="/" class="transition-all hover:text-[#0a64bc]">
                        Home
                    </a>
                </li>
                <li class="inline-block mr-[22px] last:mr-[0] relative before:absolute before:-right-[11px] before:top-[3.5px] before:w-[1px] before:h-[8px] before:bg-[#4c4c4c] before:-rotate-[45deg] after:absolute after:-right-[11px] after:bottom-[3.5px] after:w-[1px] after:h-[8px] after:bg-[#4c4c4c] after:rotate-[45deg] last:before:hidden last:after:hidden">
                    <a routerLink="/services" class="transition-all hover:text-[#0a64bc]">
                        Services
                    </a>
                </li>
                <li class="inline-block mr-[22px] last:mr-[0] relative before:absolute before:-right-[11px] before:top-[3.5px] before:w-[1px] before:h-[8px] before:bg-[#4c4c4c] before:-rotate-[45deg] after:absolute after:-right-[11px] after:bottom-[3.5px] after:w-[1px] after:h-[8px] after:bg-[#4c4c4c] after:rotate-[45deg] last:before:hidden last:after:hidden">
                    Mobile Banking
                </li>
            </ul>
        </div>
    </div>
    <div class="pt-[60px] md:pt-[80px] lg:pt-[50px] pb-[60px] md:pb-[80px] lg:pb-[100px] xl:pb-[120px]">
        <div class="mx-auto px-[12px] sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] 2xl:max-w-[1920px] 2xl:px-[30px] 3xl:px-[120px]">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-[25px]">
                <div class="self-center">
                    <div class="2xl:ml-auto 2xl:max-w-[649px]">
                        <span class="block uppercase font-medium text-[14px] md:text-[15px] lg:text-[16px] text-[#0a64bc] mb-[7px] md:mb-[8px] lg:mb-[10px] xl:mb-[12px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                            Mobile Banking
                        </span>
                        <h2 class="text-black font-bold font-serif text-[28px] md:text-[34px] lg:text-[38px] xl:text-[42px] leading-[1.2] 2xl:max-w-[530px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                            Modern Banking, Anytime, Anywhere: The Rise of Mobile Banking
                        </h2>
                    </div>
                </div>
                <div class="self-center 2xl:-ml-[5px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    <img src="assets/images/service-details/service-details1.png" class="rounded-[20px]" alt="service-details-image">
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title -->

    <app-sdp-simplify></app-sdp-simplify>

    <app-sdp-features></app-sdp-features>

    <app-get-started></app-get-started>

    <div class="py-[60px] md:py-[80px] lg:py-[100px] xl:py-[120px]">
        <app-cta-style-one></app-cta-style-one>
    </div>

    <app-partner></app-partner>

</div>