<div class="bg-[#0a64bc] pt-[60px] md:pt-[80px] lg:pt-[90px] overflow-hidden">
    <div class="container mx-auto px-[12px] 2xl:px-0">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-[25px]">
            <div class="lg:pr-[50px] xl:pr-[90px] xl:mt-[40px] 2xl:mt-[75px]">
                <span class="block uppercase font-medium text-[14px] md:text-[15px] lg:text-[16px] text-white mb-[7px] md:mb-[8px] lg:mb-[10px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    Download App
                </span>
                <h2 class="text-white font-bold font-serif text-[28px] md:text-[34px] lg:text-[38px] xl:text-[42px] leading-[1.2] mb-[12px] lg:mb-[15px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                    Let's get your free copy from Apple and Play store
                </h2>
                <div class="mt-[20px] lg:mt-[35px] xl:mt-[40px] 2xl:mt-[57px] flex gap-[10px] md:gap-[18px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                    <a href="#" class="self-center box-shadow" target="_blank">
                        <img src="assets/images/google-play.png" alt="google-play">
                    </a>
                    <a href="#" class="self-center box-shadow" target="_blank">
                        <img src="assets/images/apple-store.png" alt="apple-store">
                    </a>
                </div>
            </div>
            <div class="image text-center relative z-[1] lg:-ml-[50px] xl:-ml-[108px] before:absolute before:left-0 before:top-[57px] before:-z-[1] before:w-[725px] before:h-[725px] lg:before:w-[505px] lg:before:h-[505px] xl:before:w-[650px] xl:before:h-[650px] 2xl:before:w-[725px] 2xl:before:h-[725px] before:rounded-full before:hidden md:before:block">
                <img src="assets/images/app-download.png" class="inline" alt="download-app-image" data-aos="fade-right" data-aos-duration="500" data-aos-delay="100">
            </div>
        </div>
    </div>
</div>