<div class="bg-[#f0f8ff]">

    <!-- Page Title -->
    <div class="pt-[20px] md:pt-[25px]">
        <div class="container mx-auto px-[12px] 2xl:px-0">
            <ul class="text-[#4c4c4c] text-[14px]">
                <li class="inline-block mr-[22px] last:mr-[0] relative before:absolute before:-right-[11px] before:top-[3.5px] before:w-[1px] before:h-[8px] before:bg-[#4c4c4c] before:-rotate-[45deg] after:absolute after:-right-[11px] after:bottom-[3.5px] after:w-[1px] after:h-[8px] after:bg-[#4c4c4c] after:rotate-[45deg] last:before:hidden last:after:hidden">
                    <a routerLink="/" class="transition-all hover:text-[#0a64bc]">
                        Home
                    </a>
                </li>
                <li class="inline-block mr-[22px] last:mr-[0] relative before:absolute before:-right-[11px] before:top-[3.5px] before:w-[1px] before:h-[8px] before:bg-[#4c4c4c] before:-rotate-[45deg] after:absolute after:-right-[11px] after:bottom-[3.5px] after:w-[1px] after:h-[8px] after:bg-[#4c4c4c] after:rotate-[45deg] last:before:hidden last:after:hidden">
                    About Us
                </li>
            </ul>
        </div>
    </div>
    <!-- End Page Title -->
    
    <app-about></app-about>

    <app-why-choose-style-two></app-why-choose-style-two>

    <app-mission-vision-style-two></app-mission-vision-style-two>

    <app-funfacts></app-funfacts>

</div>

<app-team></app-team>

<div class="bg-[#f0f8ff]">

    <app-testimonials-style-one></app-testimonials-style-one>

    <app-cta-style-two></app-cta-style-two>

    <div class="pb-[60px] md:pb-[80px] lg:pb-[100px] xl:pb-[120px]">
        <app-features></app-features>
    </div>

</div>