<div class="bg-[#f0f8ff]">

    <!-- Page Title -->
    <div class="pt-[20px] md:pt-[25px]">
        <div class="container mx-auto px-[12px] 2xl:px-0">
            <ul class="text-[#4c4c4c] text-[14px]">
                <li class="inline-block mr-[22px] last:mr-[0] relative before:absolute before:-right-[11px] before:top-[3.5px] before:w-[1px] before:h-[8px] before:bg-[#4c4c4c] before:-rotate-[45deg] after:absolute after:-right-[11px] after:bottom-[3.5px] after:w-[1px] after:h-[8px] after:bg-[#4c4c4c] after:rotate-[45deg] last:before:hidden last:after:hidden">
                    <a routerLink="/" class="transition-all hover:text-[#0a64bc]">
                        Home
                    </a>
                </li>
                <li class="inline-block mr-[22px] last:mr-[0] relative before:absolute before:-right-[11px] before:top-[3.5px] before:w-[1px] before:h-[8px] before:bg-[#4c4c4c] before:-rotate-[45deg] after:absolute after:-right-[11px] after:bottom-[3.5px] after:w-[1px] after:h-[8px] after:bg-[#4c4c4c] after:rotate-[45deg] last:before:hidden last:after:hidden">
                    Home Loan
                </li>
            </ul>
        </div>
    </div>
    <div class="pt-[60px] md:pt-[80px] lg:pt-[75px] pb-[60px] md:pb-[80px] lg:pb-[100px] xl:pb-[120px]">
        <div class="container mx-auto px-[12px] 2xl:px-0">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-[25px]">
                <div class="self-center">
                    <span class="block uppercase font-medium text-[14px] md:text-[15px] lg:text-[16px] text-[#0a64bc] mb-[7px] md:mb-[8px] lg:mb-[10px] xl:mb-[12px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                        Home Loan
                    </span>
                    <h2 class="text-black font-bold font-serif text-[28px] md:text-[34px] lg:text-[38px] xl:text-[42px] leading-[1.2]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                        Bringing Your Dream Home Within Reach: Explore <span class="text-[#0a64bc]">Tartu</span> Home Loan Solutions
                    </h2>
                </div>
                <div class="self-center xl:ml-[80px] 2xl:ml-[130px] relative z-[1] md:pl-[10px] before:left-0 before:top-0 before:bottom-0 before:right-0 before:bg-[#b31942] before:absolute before:-z-[1] before:rounded-[20px] before:hidden md:before:block" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    <img src="assets/images/home-loan.jpg" class="rounded-[20px]" alt="home-loan-image">
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title -->

    <!-- Our Solutions -->
    <div class="pt-[60px] md:pt-[80px] lg:pt-[100px] xl:pt-[120px] relative z-[1] before:absolute before:left-0 before:right-0 before:top-0 before:-z-[1] before:h-[481px] sm:before:h-[403px] md:before:h-[529px] lg:before:h-[537px] xl:before:h-[620px] 2xl:before:h-[680px] before:bg-[#0a64bc]">
        <div class="container mx-auto px-[12px] 2xl:px-0">
            <div class="mb-[30px] md:mb-[40px] lg:mb-[50px]">
                <span class="block uppercase font-medium text-[14px] md:text-[15px] lg:text-[16px] text-white mb-[7px] md:mb-[8px] lg:mb-[10px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    Our Solutions
                </span>
                <h2 class="text-white font-bold font-serif text-[28px] md:text-[34px] lg:text-[38px] xl:text-[42px] lg:max-w-[600px] leading-[1.2]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                    Your Financial Goals, Our Purpose: Explore Our Solutions
                </h2>
            </div>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-[25px]">
                <div class="bg-white rounded-[15px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    <a routerLink="/service-details" class="block rounded-t-[15px]">
                        <img src="assets/images/solutions/solution12.jpg" class="inline rounded-t-[15px]" alt="solution-image">
                    </a>
                    <div class="p-[20px] md:p-[30px] lg:p-[40px] xl:p-[50px]">
                        <h3 class="font-serif font-bold text-black text-[18px] md:text-[20px] lg:text-[22px] mb-[8px] md:mb-[10px] lg:mb-[12px]">
                            <a routerLink="/service-details" class="text-black transition-all hover:text-[#0a64bc] inline-block">
                                Home Loan Transfer
                            </a>
                        </h3>
                        <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7] xl:max-w-[315px]">
                            With us, you're not just a borrower – you're an individual with dreams and goals. Our home loan offerings encompass a variety of options, ensuring that your journey
                        </p>
                        <a routerLink="/service-details" class="inline-block uppercase text-[13px] md:text-[14px] font-medium text-[#0a64bc] mt-[16px] md:mt-[18px] lg:mt-[20px] xl:mt-[25px] relative pr-[30px] transition-all hover:pr-[40px]">
                            Learn More
                            <svg class="absolute right-[-2px] top-1/2 -translate-y-2/4" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path d="M12.025 4.94165L17.0833 9.99998L12.025 15.0583" stroke="#0a64bc" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M2.91669 10H16.9417" stroke="#0a64bc" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="bg-white rounded-[15px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                    <a routerLink="/service-details" class="block rounded-t-[15px]">
                        <img src="assets/images/solutions/solution13.jpg" class="inline rounded-t-[15px]" alt="solution-image">
                    </a>
                    <div class="p-[20px] md:p-[30px] lg:p-[40px] xl:p-[50px]">
                        <h3 class="font-serif font-bold text-black text-[18px] md:text-[20px] lg:text-[22px] mb-[8px] md:mb-[10px] lg:mb-[12px]">
                            <a routerLink="/service-details" class="text-black transition-all hover:text-[#0a64bc] inline-block">
                                House Moving Solution
                            </a>
                        </h3>
                        <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7] xl:max-w-[315px]">
                            With us, you're not just a borrower – you're an individual with dreams and goals. Our home loan offerings encompass a variety of options, ensuring that your journey
                        </p>
                        <a routerLink="/service-details" class="inline-block uppercase text-[13px] md:text-[14px] font-medium text-[#0a64bc] mt-[16px] md:mt-[18px] lg:mt-[20px] xl:mt-[25px] relative pr-[30px] transition-all hover:pr-[40px]">
                            Learn More
                            <svg class="absolute right-[-2px] top-1/2 -translate-y-2/4" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path d="M12.025 4.94165L17.0833 9.99998L12.025 15.0583" stroke="#0a64bc" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M2.91669 10H16.9417" stroke="#0a64bc" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>
                <div class="bg-white rounded-[15px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                    <a routerLink="/service-details" class="block rounded-t-[15px]">
                        <img src="assets/images/solutions/solution14.jpg" class="inline rounded-t-[15px]" alt="solution-image">
                    </a>
                    <div class="p-[20px] md:p-[30px] lg:p-[40px] xl:p-[50px]">
                        <h3 class="font-serif font-bold text-black text-[18px] md:text-[20px] lg:text-[22px] mb-[8px] md:mb-[10px] lg:mb-[12px]">
                            <a routerLink="/service-details" class="text-black transition-all hover:text-[#0a64bc] inline-block">
                                Green Home Loan
                            </a>
                        </h3>
                        <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7] xl:max-w-[315px]">
                            With us, you're not just a borrower – you're an individual with dreams and goals. Our home loan offerings encompass a variety of options, ensuring that your journey
                        </p>
                        <a routerLink="/service-details" class="inline-block uppercase text-[13px] md:text-[14px] font-medium text-[#0a64bc] mt-[16px] md:mt-[18px] lg:mt-[20px] xl:mt-[25px] relative pr-[30px] transition-all hover:pr-[40px]">
                            Learn More
                            <svg class="absolute right-[-2px] top-1/2 -translate-y-2/4" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                <path d="M12.025 4.94165L17.0833 9.99998L12.025 15.0583" stroke="#0a64bc" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                                <path d="M2.91669 10H16.9417" stroke="#0a64bc" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Our Solutions -->

    <!-- Home Loan Benefits -->
    <div class="py-[60px] md:py-[80px] lg:py-[100px] xl:py-[120px]">
        <div class="container mx-auto px-[12px] 2xl:px-0">
            <div class="mb-[30px] md:mb-[40px] lg:mb-[50px] text-center">
                <span class="block uppercase font-medium text-[14px] md:text-[15px] lg:text-[16px] text-[#0a64bc] mb-[7px] md:mb-[8px] lg:mb-[10px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    Home Loan Benefits
                </span>
                <h2 class="text-black font-bold font-serif text-[28px] md:text-[34px] lg:text-[38px] xl:text-[42px] ml-auto mr-auto lg:max-w-[640px] leading-[1.2]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                    Discover the Benefits of Tartu Home Loans
                </h2>
            </div>
            <div class="rounded-[20px] border border-[#cde6ff] py-[25px] px-[20px] md:py-[50px] md:px-[50px] lg:py-[60px] lg:px-[50px] xl:py-[80px] xl:px-[80px] 2xl:px-[100px]">
                <div class="grid grid-cols-1 lg:grid-cols-2 gap-[25px]">
                    <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                        <div class="xl:max-w-[435px] mb-[25px] lg:mb-[30px] last:mb-0">
                            <h3 class="font-serif font-bold text-black text-[18px] md:text-[20px] lg:text-[22px] leading-[1.2] mb-[10px] md:mb-[12px] lg:mb-[15px]">
                                Competitive Interest Rates
                            </h3>
                            <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7]">
                                Benefit from attractive interest rates designed to make your dream of homeownership more affordable.
                            </p>
                        </div>
                        <div class="xl:max-w-[435px] mb-[25px] lg:mb-[30px] last:mb-0">
                            <h3 class="font-serif font-bold text-black text-[18px] md:text-[20px] lg:text-[22px] leading-[1.2] mb-[10px] md:mb-[12px] lg:mb-[15px]">
                                Personalized Loan Amounts
                            </h3>
                            <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7]">
                                Our home loans are tailored to your specific needs, allowing you to secure the ideal loan amount for your dream property.
                            </p>
                        </div>
                        <div class="xl:max-w-[435px] mb-[25px] lg:mb-[30px] last:mb-0">
                            <h3 class="font-serif font-bold text-black text-[18px] md:text-[20px] lg:text-[22px] leading-[1.2] mb-[10px] md:mb-[12px] lg:mb-[15px]">
                                Expert Assistance
                            </h3>
                            <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7]">
                                Our dedicated team of experts is available to guide you through the entire home loan process.
                            </p>
                        </div>
                        <div class="xl:max-w-[435px] mb-[25px] lg:mb-[30px] last:mb-0">
                            <h3 class="font-serif font-bold text-black text-[18px] md:text-[20px] lg:text-[22px] leading-[1.2] mb-[10px] md:mb-[12px] lg:mb-[15px]">
                                Refinancing Opportunities
                            </h3>
                            <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7]">
                                If you're already a homeowner, consider our refinancing options to potentially lower your monthly payments.
                            </p>
                        </div>
                        <div class="xl:max-w-[435px] mb-[25px] lg:mb-[30px] last:mb-0">
                            <h3 class="font-serif font-bold text-black text-[18px] md:text-[20px] lg:text-[22px] leading-[1.2] mb-[10px] md:mb-[12px] lg:mb-[15px]">
                                Additional Benefits
                            </h3>
                            <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7]">
                                Depending on your specific loan program, you may have access to additional benefits like tax advantages.
                            </p>
                        </div>
                    </div>
                    <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                        <div class="xl:max-w-[435px] ml-auto mb-[25px] lg:mb-[30px] last:mb-0">
                            <h3 class="font-serif font-bold text-black text-[18px] md:text-[20px] lg:text-[22px] leading-[1.2] mb-[10px] md:mb-[12px] lg:mb-[15px]">
                                Flexible Repayment Terms
                            </h3>
                            <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7]">
                                Choose from a range of repayment terms that suit your financial goals, whether it's a short-term payoff.
                            </p>
                        </div>
                        <div class="xl:max-w-[435px] ml-auto mb-[25px] lg:mb-[30px] last:mb-0">
                            <h3 class="font-serif font-bold text-black text-[18px] md:text-[20px] lg:text-[22px] leading-[1.2] mb-[10px] md:mb-[12px] lg:mb-[15px]">
                                Quick and Streamlined Application Process
                            </h3>
                            <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7]">
                                With our user-friendly digital platform, applying for a home loan is quick and hassle-free.
                            </p>
                        </div>
                        <div class="xl:max-w-[435px] ml-auto mb-[25px] lg:mb-[30px] last:mb-0">
                            <h3 class="font-serif font-bold text-black text-[18px] md:text-[20px] lg:text-[22px] leading-[1.2] mb-[10px] md:mb-[12px] lg:mb-[15px]">
                                Pre-Approval Services
                            </h3>
                            <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7]">
                                Gain a competitive edge in the housing market by securing pre-approval for your home loan.
                            </p>
                        </div>
                        <div class="xl:max-w-[435px] ml-auto mb-[25px] lg:mb-[30px] last:mb-0">
                            <h3 class="font-serif font-bold text-black text-[18px] md:text-[20px] lg:text-[22px] leading-[1.2] mb-[10px] md:mb-[12px] lg:mb-[15px]">
                                Online Account Management
                            </h3>
                            <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7]">
                                Access your home loan details, payment schedules, and account statements conveniently.
                            </p>
                        </div>
                        <div class="xl:max-w-[435px] ml-auto mb-[25px] lg:mb-[30px] last:mb-0">
                            <h3 class="font-serif font-bold text-black text-[18px] md:text-[20px] lg:text-[22px] leading-[1.2] mb-[10px] md:mb-[12px] lg:mb-[15px]">
                                Support at Every Step
                            </h3>
                            <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7]">
                                From application to closing, our team is committed to providing support and guidance to make.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Home Loan Benefits -->

    <app-video></app-video>

    <div class="py-[60px] md:py-[80px] lg:py-[100px] xl:py-[120px]">
        <div class="container mx-auto px-[12px] 2xl:px-0">
            <div class="mb-[30px] md:mb-[40px] lg:mb-[50px] text-center">
                <span class="block uppercase font-medium text-[14px] md:text-[15px] lg:text-[16px] text-[#0a64bc] mb-[7px] md:mb-[8px] lg:mb-[10px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    FAQ’s
                </span>
                <h2 class="text-black font-bold font-serif text-[28px] md:text-[34px] lg:text-[38px] xl:text-[42px] ml-auto mr-auto lg:max-w-[640px] leading-[1.2]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                    Frequently Asked & Questions
                </h2>
            </div>
            <app-faq></app-faq>
        </div>
    </div>

    <div class="pb-[60px] md:pb-[80px] lg:pb-[100px] xl:pb-[120px]">
        <app-cta-style-one></app-cta-style-one>
    </div>

    <app-partner></app-partner>

</div>