<app-homethree-banner></app-homethree-banner>

<div class="bg-[#f0f8ff]">

    <app-solutions-style-one></app-solutions-style-one>

    <app-mission-vision-style-three></app-mission-vision-style-three>

    <app-funfacts></app-funfacts>

    <app-simplify-style-three></app-simplify-style-three>

    <app-testimonials-style-three></app-testimonials-style-three>

    <app-credit-debit-card></app-credit-debit-card>
    
    <div class="pb-[60px] md:pb-[80px] lg:pb-[100px] xl:pb-[120px]">
        <app-why-choose-style-one></app-why-choose-style-one>
    </div>
    
    <app-cta-style-two></app-cta-style-two>
    
    <app-blog></app-blog>

</div>