<div class="container mx-auto px-[12px] 2xl:px-0">
    <div class="mb-[30px] md:mb-[40px] lg:mb-[50px] text-center">
        <span class="block uppercase font-medium text-[14px] md:text-[15px] lg:text-[16px] text-[#0a64bc] mb-[7px] md:mb-[8px] lg:mb-[10px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
            Leadership Team
        </span>
        <h2 class="text-black font-bold font-serif text-[28px] md:text-[34px] lg:text-[38px] xl:text-[42px] ml-auto mr-auto lg:max-w-[650px] leading-[1.2]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
            Introducing the Dedicated and Expert Team Driving Tartu
        </h2>
    </div>
    <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-[25px]">
        <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
            <img src="assets/images/teams/team4.jpg" class="inline rounded-[20px]" alt="team-member-image">
            <div class="flex justify-between mt-[20px] px-[10px] lg:mt-[25px] md:px-[20px]">
                <div class="self-center">
                    <h3 class="font-bold font-serif text-black leading-none text-[18px] md:text-[20px] lg:text-[22px] mb-[10px]">
                        Courtney Henry
                    </h3>
                    <span class="block text-[#4c4c4c] text-[14px] md:text-[15px]">
                        Technology Lead
                    </span>
                </div>
                <div class="self-center">
                    <a href="#" target="_blank" class="inline-block leading-[1] text-[#4c4c4c] text-[18px] md:text-[18px] ml-[12px] first:ml-[0] transition-all hover:text-[#0a64bc]">
                        <i class="ri-facebook-fill"></i>
                    </a>
                    <a href="#" target="_blank" class="inline-block leading-[1] text-[#4c4c4c] text-[18px] md:text-[18px] ml-[12px] first:ml-[0] transition-all hover:text-[#0a64bc]">
                        <i class="ri-linkedin-fill"></i>
                    </a>
                    <a href="#" target="_blank" class="inline-block leading-[1] text-[#4c4c4c] text-[18px] md:text-[18px] ml-[12px] first:ml-[0] transition-all hover:text-[#0a64bc]">
                        <i class="ri-google-fill"></i>
                    </a>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
            <img src="assets/images/teams/team5.jpg" class="inline rounded-[20px]" alt="team-member-image">
            <div class="flex justify-between mt-[20px] px-[10px] lg:mt-[25px] md:px-[20px]">
                <div class="self-center">
                    <h3 class="font-bold font-serif text-black leading-none text-[18px] md:text-[20px] lg:text-[22px] mb-[10px]">
                        Jerome Bell
                    </h3>
                    <span class="block text-[#4c4c4c] text-[14px] md:text-[15px]">
                        Marketing Lead
                    </span>
                </div>
                <div class="self-center">
                    <a href="#" target="_blank" class="inline-block leading-[1] text-[#4c4c4c] text-[18px] md:text-[18px] ml-[12px] first:ml-[0] transition-all hover:text-[#0a64bc]">
                        <i class="ri-facebook-fill"></i>
                    </a>
                    <a href="#" target="_blank" class="inline-block leading-[1] text-[#4c4c4c] text-[18px] md:text-[18px] ml-[12px] first:ml-[0] transition-all hover:text-[#0a64bc]">
                        <i class="ri-linkedin-fill"></i>
                    </a>
                    <a href="#" target="_blank" class="inline-block leading-[1] text-[#4c4c4c] text-[18px] md:text-[18px] ml-[12px] first:ml-[0] transition-all hover:text-[#0a64bc]">
                        <i class="ri-google-fill"></i>
                    </a>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
            <img src="assets/images/teams/team6.jpg" class="inline rounded-[20px]" alt="team-member-image">
            <div class="flex justify-between mt-[20px] px-[10px] lg:mt-[25px] md:px-[20px]">
                <div class="self-center">
                    <h3 class="font-bold font-serif text-black leading-none text-[18px] md:text-[20px] lg:text-[22px] mb-[10px]">
                        Kristin Watson
                    </h3>
                    <span class="block text-[#4c4c4c] text-[14px] md:text-[15px]">
                        HR Lead
                    </span>
                </div>
                <div class="self-center">
                    <a href="#" target="_blank" class="inline-block leading-[1] text-[#4c4c4c] text-[18px] md:text-[18px] ml-[12px] first:ml-[0] transition-all hover:text-[#0a64bc]">
                        <i class="ri-facebook-fill"></i>
                    </a>
                    <a href="#" target="_blank" class="inline-block leading-[1] text-[#4c4c4c] text-[18px] md:text-[18px] ml-[12px] first:ml-[0] transition-all hover:text-[#0a64bc]">
                        <i class="ri-linkedin-fill"></i>
                    </a>
                    <a href="#" target="_blank" class="inline-block leading-[1] text-[#4c4c4c] text-[18px] md:text-[18px] ml-[12px] first:ml-[0] transition-all hover:text-[#0a64bc]">
                        <i class="ri-google-fill"></i>
                    </a>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
            <img src="assets/images/teams/team7.jpg" class="inline rounded-[20px]" alt="team-member-image">
            <div class="flex justify-between mt-[20px] px-[10px] lg:mt-[25px] md:px-[20px]">
                <div class="self-center">
                    <h3 class="font-bold font-serif text-black leading-none text-[18px] md:text-[20px] lg:text-[22px] mb-[10px]">
                        Guy Hawkins
                    </h3>
                    <span class="block text-[#4c4c4c] text-[14px] md:text-[15px]">
                        Marketing Officer
                    </span>
                </div>
                <div class="self-center">
                    <a href="#" target="_blank" class="inline-block leading-[1] text-[#4c4c4c] text-[18px] md:text-[18px] ml-[12px] first:ml-[0] transition-all hover:text-[#0a64bc]">
                        <i class="ri-facebook-fill"></i>
                    </a>
                    <a href="#" target="_blank" class="inline-block leading-[1] text-[#4c4c4c] text-[18px] md:text-[18px] ml-[12px] first:ml-[0] transition-all hover:text-[#0a64bc]">
                        <i class="ri-linkedin-fill"></i>
                    </a>
                    <a href="#" target="_blank" class="inline-block leading-[1] text-[#4c4c4c] text-[18px] md:text-[18px] ml-[12px] first:ml-[0] transition-all hover:text-[#0a64bc]">
                        <i class="ri-google-fill"></i>
                    </a>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
            <img src="assets/images/teams/team8.jpg" class="inline rounded-[20px]" alt="team-member-image">
            <div class="flex justify-between mt-[20px] px-[10px] lg:mt-[25px] md:px-[20px]">
                <div class="self-center">
                    <h3 class="font-bold font-serif text-black leading-none text-[18px] md:text-[20px] lg:text-[22px] mb-[10px]">
                        Robert Fox
                    </h3>
                    <span class="block text-[#4c4c4c] text-[14px] md:text-[15px]">
                        Cash Officer
                    </span>
                </div>
                <div class="self-center">
                    <a href="#" target="_blank" class="inline-block leading-[1] text-[#4c4c4c] text-[18px] md:text-[18px] ml-[12px] first:ml-[0] transition-all hover:text-[#0a64bc]">
                        <i class="ri-facebook-fill"></i>
                    </a>
                    <a href="#" target="_blank" class="inline-block leading-[1] text-[#4c4c4c] text-[18px] md:text-[18px] ml-[12px] first:ml-[0] transition-all hover:text-[#0a64bc]">
                        <i class="ri-linkedin-fill"></i>
                    </a>
                    <a href="#" target="_blank" class="inline-block leading-[1] text-[#4c4c4c] text-[18px] md:text-[18px] ml-[12px] first:ml-[0] transition-all hover:text-[#0a64bc]">
                        <i class="ri-google-fill"></i>
                    </a>
                </div>
            </div>
        </div>
        <div data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
            <img src="assets/images/teams/team9.jpg" class="inline rounded-[20px]" alt="team-member-image">
            <div class="flex justify-between mt-[20px] px-[10px] lg:mt-[25px] md:px-[20px]">
                <div class="self-center">
                    <h3 class="font-bold font-serif text-black leading-none text-[18px] md:text-[20px] lg:text-[22px] mb-[10px]">
                        Esther Howard
                    </h3>
                    <span class="block text-[#4c4c4c] text-[14px] md:text-[15px]">
                        Marketing Manager
                    </span>
                </div>
                <div class="self-center">
                    <a href="#" target="_blank" class="inline-block leading-[1] text-[#4c4c4c] text-[18px] md:text-[18px] ml-[12px] first:ml-[0] transition-all hover:text-[#0a64bc]">
                        <i class="ri-facebook-fill"></i>
                    </a>
                    <a href="#" target="_blank" class="inline-block leading-[1] text-[#4c4c4c] text-[18px] md:text-[18px] ml-[12px] first:ml-[0] transition-all hover:text-[#0a64bc]">
                        <i class="ri-linkedin-fill"></i>
                    </a>
                    <a href="#" target="_blank" class="inline-block leading-[1] text-[#4c4c4c] text-[18px] md:text-[18px] ml-[12px] first:ml-[0] transition-all hover:text-[#0a64bc]">
                        <i class="ri-google-fill"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>