<!-- For Pricing Page -->
<div
    class="accordion ml-auto mr-auto lg:max-w-[800px] xl:max-w-[875px]"
    [ngClass]="{'hidden': router.url === '/investment-funds' || router.url === '/home-loan'}"
>
    <div class="mb-[10px] last:mb-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
        <div class="accordion-header relative rounded-[20px] md:rounded-[100px] bg-white py-[15px] md:py-[17px] pl-[20px] md:pl-[30px] pr-[40px] md:pr-[70px] text-black font-serif font-bold text-[16px] md:text-[18px] cursor-pointer" (click)="toggleSection(0)" [ngClass]="{ 'open': isSectionOpen(0) }">
            How does the pricing for your digital banking service work?
        </div>
        <div class="accordion-content bg-white rounded-b-[20px] px-[20px] md:px-[30px] pb-[20px] md:pb-[25px] lg:pb-[30px]" [ngClass]="{ 'open': isSectionOpen(0) }">
            <div class="pt-[18px] md:pt-[20px] border-t border-[#f7f5f0]">
                <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7]">
                    Our digital banking service offers different pricing plans tailored to meet various needs. Each plan comes with its set of features and benefits, allowing you to choose the one that aligns best with your financial goals and preferences. Consider your financial needs, usage patterns, and goals.
                </p>
            </div>
        </div>
    </div>
    <div class="mb-[10px] last:mb-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
        <div class="accordion-header relative rounded-[20px] md:rounded-[100px] bg-white py-[15px] md:py-[17px] pl-[20px] md:pl-[30px] pr-[40px] md:pr-[70px] text-black font-serif font-bold text-[16px] md:text-[18px] cursor-pointer" (click)="toggleSection(1)" [ngClass]="{ 'open': isSectionOpen(1) }">
            What are the different pricing plans you offer?
        </div>
        <div class="accordion-content bg-white rounded-b-[20px] px-[20px] md:px-[30px] pb-[20px] md:pb-[25px] lg:pb-[30px]" [ngClass]="{ 'open': isSectionOpen(1) }">
            <div class="pt-[18px] md:pt-[20px] border-t border-[#f7f5f0]">
                <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7]">
                    Our digital banking service offers different pricing plans tailored to meet various needs. Each plan comes with its set of features and benefits, allowing you to choose the one that aligns best with your financial goals and preferences. Consider your financial needs, usage patterns, and goals.
                </p>
            </div>
        </div>
    </div>
    <div class="mb-[10px] last:mb-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
        <div class="accordion-header relative rounded-[20px] md:rounded-[100px] bg-white py-[15px] md:py-[17px] pl-[20px] md:pl-[30px] pr-[40px] md:pr-[70px] text-black font-serif font-bold text-[16px] md:text-[18px] cursor-pointer" (click)="toggleSection(2)" [ngClass]="{ 'open': isSectionOpen(2) }">
            How do I choose the right pricing plan for me?
        </div>
        <div class="accordion-content bg-white rounded-b-[20px] px-[20px] md:px-[30px] pb-[20px] md:pb-[25px] lg:pb-[30px]" [ngClass]="{ 'open': isSectionOpen(2) }">
            <div class="pt-[18px] md:pt-[20px] border-t border-[#f7f5f0]">
                <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7]">
                    Our digital banking service offers different pricing plans tailored to meet various needs. Each plan comes with its set of features and benefits, allowing you to choose the one that aligns best with your financial goals and preferences. Consider your financial needs, usage patterns, and goals.
                </p>
            </div>
        </div>
    </div>
    <div class="mb-[10px] last:mb-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
        <div class="accordion-header relative rounded-[20px] md:rounded-[100px] bg-white py-[15px] md:py-[17px] pl-[20px] md:pl-[30px] pr-[40px] md:pr-[70px] text-black font-serif font-bold text-[16px] md:text-[18px] cursor-pointer" (click)="toggleSection(3)" [ngClass]="{ 'open': isSectionOpen(3) }">
            Are there any additional fees apart from the monthly plan cost?
        </div>
        <div class="accordion-content bg-white rounded-b-[20px] px-[20px] md:px-[30px] pb-[20px] md:pb-[25px] lg:pb-[30px]" [ngClass]="{ 'open': isSectionOpen(3) }">
            <div class="pt-[18px] md:pt-[20px] border-t border-[#f7f5f0]">
                <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7]">
                    Our digital banking service offers different pricing plans tailored to meet various needs. Each plan comes with its set of features and benefits, allowing you to choose the one that aligns best with your financial goals and preferences. Consider your financial needs, usage patterns, and goals.
                </p>
            </div>
        </div>
    </div>
    <div class="mb-[10px] last:mb-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
        <div class="accordion-header relative rounded-[20px] md:rounded-[100px] bg-white py-[15px] md:py-[17px] pl-[20px] md:pl-[30px] pr-[40px] md:pr-[70px] text-black font-serif font-bold text-[16px] md:text-[18px] cursor-pointer" (click)="toggleSection(4)" [ngClass]="{ 'open': isSectionOpen(4) }">
            Can I switch between pricing plans later on?
        </div>
        <div class="accordion-content bg-white rounded-b-[20px] px-[20px] md:px-[30px] pb-[20px] md:pb-[25px] lg:pb-[30px]" [ngClass]="{ 'open': isSectionOpen(4) }">
            <div class="pt-[18px] md:pt-[20px] border-t border-[#f7f5f0]">
                <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7]">
                    Our digital banking service offers different pricing plans tailored to meet various needs. Each plan comes with its set of features and benefits, allowing you to choose the one that aligns best with your financial goals and preferences. Consider your financial needs, usage patterns, and goals.
                </p>
            </div>
        </div>
    </div>
    <div class="mb-[10px] last:mb-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="600">
        <div class="accordion-header relative rounded-[20px] md:rounded-[100px] bg-white py-[15px] md:py-[17px] pl-[20px] md:pl-[30px] pr-[40px] md:pr-[70px] text-black font-serif font-bold text-[16px] md:text-[18px] cursor-pointer" (click)="toggleSection(5)" [ngClass]="{ 'open': isSectionOpen(5) }">
            Is there a trial period for the different plans?
        </div>
        <div class="accordion-content bg-white rounded-b-[20px] px-[20px] md:px-[30px] pb-[20px] md:pb-[25px] lg:pb-[30px]" [ngClass]="{ 'open': isSectionOpen(5) }">
            <div class="pt-[18px] md:pt-[20px] border-t border-[#f7f5f0]">
                <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7]">
                    Our digital banking service offers different pricing plans tailored to meet various needs. Each plan comes with its set of features and benefits, allowing you to choose the one that aligns best with your financial goals and preferences. Consider your financial needs, usage patterns, and goals.
                </p>
            </div>
        </div>
    </div>
</div>

<!-- For Investment Funds & Home Loan Page -->
<div
    class="accordion ml-auto mr-auto lg:max-w-[800px] xl:max-w-[875px] hidden"
    [ngClass]="{'block': router.url === '/investment-funds' || router.url === '/home-loan'}"
>
    <div class="mb-[10px] last:mb-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
        <div class="accordion-header relative rounded-[20px] md:rounded-[100px] bg-white py-[15px] md:py-[17px] pl-[20px] md:pl-[30px] pr-[40px] md:pr-[70px] text-black font-serif font-bold text-[16px] md:text-[18px] cursor-pointer" (click)="toggleSection(0)" [ngClass]="{ 'open': isSectionOpen(0) }">
            What types of home loans are available?
        </div>
        <div class="accordion-content bg-white rounded-b-[20px] px-[20px] md:px-[30px] pb-[20px] md:pb-[25px] lg:pb-[30px]" [ngClass]="{ 'open': isSectionOpen(0) }">
            <div class="pt-[18px] md:pt-[20px] border-t border-[#f7f5f0]">
                <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7]">
                    Paid Search Marketing works through an auction-based system. Advertisers bid on specific keywords, stating the maximum amount they are willing to pay for each click on their ad. The search engine then considers the bid amount, ad relevance, and other factors to determine which ads will be displayed.
                </p>
            </div>
        </div>
    </div>
    <div class="mb-[10px] last:mb-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
        <div class="accordion-header relative rounded-[20px] md:rounded-[100px] bg-white py-[15px] md:py-[17px] pl-[20px] md:pl-[30px] pr-[40px] md:pr-[70px] text-black font-serif font-bold text-[16px] md:text-[18px] cursor-pointer" (click)="toggleSection(1)" [ngClass]="{ 'open': isSectionOpen(1) }">
            How do I determine how much home I can afford?
        </div>
        <div class="accordion-content bg-white rounded-b-[20px] px-[20px] md:px-[30px] pb-[20px] md:pb-[25px] lg:pb-[30px]" [ngClass]="{ 'open': isSectionOpen(1) }">
            <div class="pt-[18px] md:pt-[20px] border-t border-[#f7f5f0]">
                <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7]">
                    Paid Search Marketing works through an auction-based system. Advertisers bid on specific keywords, stating the maximum amount they are willing to pay for each click on their ad. The search engine then considers the bid amount, ad relevance, and other factors to determine which ads will be displayed.
                </p>
            </div>
        </div>
    </div>
    <div class="mb-[10px] last:mb-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
        <div class="accordion-header relative rounded-[20px] md:rounded-[100px] bg-white py-[15px] md:py-[17px] pl-[20px] md:pl-[30px] pr-[40px] md:pr-[70px] text-black font-serif font-bold text-[16px] md:text-[18px] cursor-pointer" (click)="toggleSection(2)" [ngClass]="{ 'open': isSectionOpen(2) }">
            What is a down payment?
        </div>
        <div class="accordion-content bg-white rounded-b-[20px] px-[20px] md:px-[30px] pb-[20px] md:pb-[25px] lg:pb-[30px]" [ngClass]="{ 'open': isSectionOpen(2) }">
            <div class="pt-[18px] md:pt-[20px] border-t border-[#f7f5f0]">
                <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7]">
                    Paid Search Marketing works through an auction-based system. Advertisers bid on specific keywords, stating the maximum amount they are willing to pay for each click on their ad. The search engine then considers the bid amount, ad relevance, and other factors to determine which ads will be displayed.
                </p>
            </div>
        </div>
    </div>
    <div class="mb-[10px] last:mb-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
        <div class="accordion-header relative rounded-[20px] md:rounded-[100px] bg-white py-[15px] md:py-[17px] pl-[20px] md:pl-[30px] pr-[40px] md:pr-[70px] text-black font-serif font-bold text-[16px] md:text-[18px] cursor-pointer" (click)="toggleSection(3)" [ngClass]="{ 'open': isSectionOpen(3) }">
            How do interest rates affect my mortgage?
        </div>
        <div class="accordion-content bg-white rounded-b-[20px] px-[20px] md:px-[30px] pb-[20px] md:pb-[25px] lg:pb-[30px]" [ngClass]="{ 'open': isSectionOpen(3) }">
            <div class="pt-[18px] md:pt-[20px] border-t border-[#f7f5f0]">
                <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7]">
                    Paid Search Marketing works through an auction-based system. Advertisers bid on specific keywords, stating the maximum amount they are willing to pay for each click on their ad. The search engine then considers the bid amount, ad relevance, and other factors to determine which ads will be displayed.
                </p>
            </div>
        </div>
    </div>
    <div class="mb-[10px] last:mb-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
        <div class="accordion-header relative rounded-[20px] md:rounded-[100px] bg-white py-[15px] md:py-[17px] pl-[20px] md:pl-[30px] pr-[40px] md:pr-[70px] text-black font-serif font-bold text-[16px] md:text-[18px] cursor-pointer" (click)="toggleSection(4)" [ngClass]="{ 'open': isSectionOpen(4) }">
            How do I apply for a home loan?
        </div>
        <div class="accordion-content bg-white rounded-b-[20px] px-[20px] md:px-[30px] pb-[20px] md:pb-[25px] lg:pb-[30px]" [ngClass]="{ 'open': isSectionOpen(4) }">
            <div class="pt-[18px] md:pt-[20px] border-t border-[#f7f5f0]">
                <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7]">
                    Paid Search Marketing works through an auction-based system. Advertisers bid on specific keywords, stating the maximum amount they are willing to pay for each click on their ad. The search engine then considers the bid amount, ad relevance, and other factors to determine which ads will be displayed.
                </p>
            </div>
        </div>
    </div>
    <div class="mb-[10px] last:mb-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="600">
        <div class="accordion-header relative rounded-[20px] md:rounded-[100px] bg-white py-[15px] md:py-[17px] pl-[20px] md:pl-[30px] pr-[40px] md:pr-[70px] text-black font-serif font-bold text-[16px] md:text-[18px] cursor-pointer" (click)="toggleSection(5)" [ngClass]="{ 'open': isSectionOpen(5) }">
            What is the closing process?
        </div>
        <div class="accordion-content bg-white rounded-b-[20px] px-[20px] md:px-[30px] pb-[20px] md:pb-[25px] lg:pb-[30px]" [ngClass]="{ 'open': isSectionOpen(5) }">
            <div class="pt-[18px] md:pt-[20px] border-t border-[#f7f5f0]">
                <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7]">
                    Paid Search Marketing works through an auction-based system. Advertisers bid on specific keywords, stating the maximum amount they are willing to pay for each click on their ad. The search engine then considers the bid amount, ad relevance, and other factors to determine which ads will be displayed.
                </p>
            </div>
        </div>
    </div>
</div>