<div class="py-[60px] md:py-[80px] lg:py-[100px] xl:py-[120px]">
    <div class="container mx-auto px-[12px] 2xl:px-0">
        <div class="grid grid-cols-1 lg:grid-cols-2 mb-[30px] md:mb-[40px] lg:mb-[50px]">
            <div class="self-center">
                <span class="block uppercase font-medium text-[14px] md:text-[15px] lg:text-[16px] text-[#0a64bc] mb-[7px] md:mb-[8px] lg:mb-[10px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    Blog Post
                </span>
                <h2 class="text-black font-bold font-serif text-[28px] md:text-[34px] lg:text-[38px] xl:text-[42px] lg:max-w-[650px] leading-[1.2]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                    Mastering Your Financial Journey: Insights from Tartu
                </h2>
            </div>
            <div class="self-center lg:text-right">
                <a routerLink="/service-details" class="inline-block uppercase text-[13px] md:text-[14px] font-medium text-[#0a64bc] mt-[15px] md:mt-[18px] lg:mt-[20px] xl:mt-[25px] relative pr-[30px] transition-all hover:pr-[40px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    View All Posts
                    <svg class="absolute right-[-2px] -mt-[1.5px] top-1/2 -translate-y-2/4" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                        <path d="M12.025 4.94165L17.0833 9.99998L12.025 15.0583" stroke="#0a64bc" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        <path d="M2.91669 10H16.9417" stroke="#0a64bc" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-[25px]">
            <div class="pl-[15px] pr-[15px] pb-[20px] md:pl-[20px] md:pr-[20px] md:pb-[25px] xl:pl-[25px] xl:pr-[25px] xl:pb-[30px] relative z-[1] before:absolute before:left-0 before:right-0 before:bottom-0 before:top-0 before:-z-[1] before:border before:border-[#daebff] before:rounded-[15px] before:mt-[115px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                <a routerLink="/" class="block relative z-[1] rounded-[15px] pb-[7px] before:absolute before:bg-[#b31942] before:left-0 before:right-0 before:top-0 before:bottom-0 before:rounded-[15px] before:-z-[1]">
                    <img src="assets/images/blogs/blog1.jpg" class="rounded-[15px]" alt="blog-image">
                </a>
                <div class="mt-[20px] ml-[5px] mr-[5px] md:mt-[25px] md:ml-[10px] md:mr-[10px] xl:mt-[30px] 2xl:ml-[25px] 2xl:mr-[25px]">
                    <span class="block uppercase text-[#4c4c4c] text-[14px] font-medium mb-[8px]">
                        27 September, 2024
                    </span>
                    <h3 class="font-serif font-bold text-black text-[18px] md:text-[20px] lg:text-[22px] mb-[8px] md:mb-[10px] lg:mb-[12px]">
                        <a routerLink="/" class="text-black transition-all hover:text-[#0a64bc] inline-block">
                            Banking at Your Fingertips: The Rise of Digital Banking
                        </a>
                    </h3>
                    <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7] xl:max-w-[315px]">
                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia.
                    </p>
                    <a routerLink="/service-details" class="inline-block uppercase text-[13px] md:text-[14px] font-medium text-[#0a64bc] mt-[16px] md:mt-[18px] lg:mt-[20px] xl:mt-[25px] relative pr-[30px] transition-all hover:pr-[40px]">
                        Learn More
                        <svg class="absolute right-[-2px] top-1/2 -translate-y-2/4" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                            <path d="M12.025 4.94165L17.0833 9.99998L12.025 15.0583" stroke="#0a64bc" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M2.91669 10H16.9417" stroke="#0a64bc" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="pl-[15px] pr-[15px] pb-[20px] md:pl-[20px] md:pr-[20px] md:pb-[25px] xl:pl-[25px] xl:pr-[25px] xl:pb-[30px] relative z-[1] before:absolute before:left-0 before:right-0 before:bottom-0 before:top-0 before:-z-[1] before:border before:border-[#daebff] before:rounded-[15px] before:mt-[115px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                <a routerLink="/" class="block relative z-[1] rounded-[15px] pb-[7px] before:absolute before:bg-[#b31942] before:left-0 before:right-0 before:top-0 before:bottom-0 before:rounded-[15px] before:-z-[1]">
                    <img src="assets/images/blogs/blog2.jpg" class="rounded-[15px]" alt="blog-image">
                </a>
                <div class="mt-[20px] ml-[5px] mr-[5px] md:mt-[25px] md:ml-[10px] md:mr-[10px] xl:mt-[30px] 2xl:ml-[25px] 2xl:mr-[25px]">
                    <span class="block uppercase text-[#4c4c4c] text-[14px] font-medium mb-[8px]">
                        26 September, 2024
                    </span>
                    <h3 class="font-serif font-bold text-black text-[18px] md:text-[20px] lg:text-[22px] mb-[8px] md:mb-[10px] lg:mb-[12px]">
                        <a routerLink="/" class="text-black transition-all hover:text-[#0a64bc] inline-block">
                            Simplify, Save, Succeed: The Benefits of Digital Banking
                        </a>
                    </h3>
                    <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7] xl:max-w-[315px]">
                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia.
                    </p>
                    <a routerLink="/service-details" class="inline-block uppercase text-[13px] md:text-[14px] font-medium text-[#0a64bc] mt-[16px] md:mt-[18px] lg:mt-[20px] xl:mt-[25px] relative pr-[30px] transition-all hover:pr-[40px]">
                        Learn More
                        <svg class="absolute right-[-2px] top-1/2 -translate-y-2/4" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                            <path d="M12.025 4.94165L17.0833 9.99998L12.025 15.0583" stroke="#0a64bc" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M2.91669 10H16.9417" stroke="#0a64bc" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
            </div>
            <div class="pl-[15px] pr-[15px] pb-[20px] md:pl-[20px] md:pr-[20px] md:pb-[25px] xl:pl-[25px] xl:pr-[25px] xl:pb-[30px] relative z-[1] before:absolute before:left-0 before:right-0 before:bottom-0 before:top-0 before:-z-[1] before:border before:border-[#daebff] before:rounded-[15px] before:mt-[115px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                <a routerLink="/" class="block relative z-[1] rounded-[15px] pb-[7px] before:absolute before:bg-[#b31942] before:left-0 before:right-0 before:top-0 before:bottom-0 before:rounded-[15px] before:-z-[1]">
                    <img src="assets/images/blogs/blog3.jpg" class="rounded-[15px]" alt="blog-image">
                </a>
                <div class="mt-[20px] ml-[5px] mr-[5px] md:mt-[25px] md:ml-[10px] md:mr-[10px] xl:mt-[30px] 2xl:ml-[25px] 2xl:mr-[25px]">
                    <span class="block uppercase text-[#4c4c4c] text-[14px] font-medium mb-[8px]">
                        25 September, 2024
                    </span>
                    <h3 class="font-serif font-bold text-black text-[18px] md:text-[20px] lg:text-[22px] mb-[8px] md:mb-[10px] lg:mb-[12px]">
                        <a routerLink="/" class="text-black transition-all hover:text-[#0a64bc] inline-block">
                            Your Money, Your Way: The Allure of Digital Banking
                        </a>
                    </h3>
                    <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7] xl:max-w-[315px]">
                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit sed quia.
                    </p>
                    <a routerLink="/service-details" class="inline-block uppercase text-[13px] md:text-[14px] font-medium text-[#0a64bc] mt-[16px] md:mt-[18px] lg:mt-[20px] xl:mt-[25px] relative pr-[30px] transition-all hover:pr-[40px]">
                        Learn More
                        <svg class="absolute right-[-2px] top-1/2 -translate-y-2/4" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                            <path d="M12.025 4.94165L17.0833 9.99998L12.025 15.0583" stroke="#0a64bc" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                            <path d="M2.91669 10H16.9417" stroke="#0a64bc" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>