<div class="py-[60px] md:py-[80px] lg:py-[100px] xl:py-[120px] bg-[#0a64bc] relative z-[1] before:absolute before:left-0 before:right-0 before:bottom-0 before:-z-[1] before:bg-[#f0f8ff] before:h-[690px]">
    <div class="container mx-auto px-[12px] 2xl:px-0">
        <div class="mb-[30px] md:mb-[40px] lg:mb-[50px] text-center">
            <span class="block uppercase font-medium text-[14px] md:text-[15px] lg:text-[16px] text-white mb-[7px] md:mb-[8px] lg:mb-[10px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                Mission & Vision
            </span>
            <h2 class="text-white font-bold font-serif text-[28px] md:text-[34px] lg:text-[38px] xl:text-[42px] ml-auto mr-auto lg:max-w-[650px] leading-[1.2]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                World’s Leading Digital Bank. Your Trust, Our Technology.
            </h2>
        </div>
        <div class="text-center rounded-[20px] mb-[30px] md:mb-[40px] lg:mb-[50px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
            <img src="assets/images/mission-vision/mv3.jpg" class="rounded-[20px]" alt="mission-vision-image">
        </div>
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-[25px]">
            <div class="bg-white rounded-[20px] p-[20px] md:p-[30px] lg:p-[40px] xl:p-[50px]">
                <h3 class="text-black font-bold text-[18px] md:text-[20px] lg:text-[22px] mb-[8px] lg:mb-[10px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    Our Mission
                </h3>
                <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7] mb-[15px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                    We stand for transparency, accessibility, and inclusivity. Our digital-first approach breaks down barriers, making banking services available to anyone.
                </p>
                <ul class="mt-[15px] lg:mt-[20px] font-serif">
                    <li class="relative text-black font-bold text-[14px] md:text-[16px] lg:text-[18px] pl-[30px] md:pl-[35px] mb-[12px] last:mb-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                        <div class="absolute left-0 -top-[2px] md:-top-[1px] lg:top-[1px]">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z" fill="black"/>
                            </svg>
                        </div>
                        Empowering Financial Freedom
                    </li>
                    <li class="relative text-black font-bold text-[14px] md:text-[16px] lg:text-[18px] pl-[30px] md:pl-[35px] mb-[12px] last:mb-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                        <div class="absolute left-0 -top-[2px] md:-top-[1px] lg:top-[1px]">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z" fill="black"/>
                            </svg>
                        </div>
                        Simplifying Complexity
                    </li>
                    <li class="relative text-black font-bold text-[14px] md:text-[16px] lg:text-[18px] pl-[30px] md:pl-[35px] mb-[12px] last:mb-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
                        <div class="absolute left-0 -top-[2px] md:-top-[1px] lg:top-[1px]">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z" fill="black"/>
                            </svg>
                        </div>
                        Seamless Banking
                    </li>
                </ul>
            </div>
            <div class="bg-white rounded-[20px] p-[20px] md:p-[30px] lg:p-[40px] xl:p-[50px]">
                <h3 class="text-black font-bold text-[18px] md:text-[20px] lg:text-[22px] mb-[8px] lg:mb-[10px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    Our Vision
                </h3>
                <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7] mb-[15px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                    We stand for transparency, accessibility, and inclusivity. Our digital-first approach breaks down barriers, making banking services available to anyone.
                </p>
                <ul class="mt-[15px] lg:mt-[20px] font-serif">
                    <li class="relative text-black font-bold text-[14px] md:text-[16px] lg:text-[18px] pl-[30px] md:pl-[35px] mb-[12px] last:mb-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                        <div class="absolute left-0 -top-[2px] md:-top-[1px] lg:top-[1px]">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z" fill="black"/>
                            </svg>
                        </div>
                        Pioneering a Digital Financial Frontier
                    </li>
                    <li class="relative text-black font-bold text-[14px] md:text-[16px] lg:text-[18px] pl-[30px] md:pl-[35px] mb-[12px] last:mb-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                        <div class="absolute left-0 -top-[2px] md:-top-[1px] lg:top-[1px]">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z" fill="black"/>
                            </svg>
                        </div>
                        Unleashing Financial Potential
                    </li>
                    <li class="relative text-black font-bold text-[14px] md:text-[16px] lg:text-[18px] pl-[30px] md:pl-[35px] mb-[12px] last:mb-0" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
                        <div class="absolute left-0 -top-[2px] md:-top-[1px] lg:top-[1px]">
                            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                                <path d="M8.5 16.5858L4.70711 12.7929C4.31658 12.4024 3.68342 12.4024 3.29289 12.7929C2.90237 13.1834 2.90237 13.8166 3.29289 14.2071L7.79289 18.7071C8.18342 19.0976 8.81658 19.0976 9.20711 18.7071L20.2071 7.70711C20.5976 7.31658 20.5976 6.68342 20.2071 6.29289C19.8166 5.90237 19.1834 5.90237 18.7929 6.29289L8.5 16.5858Z" fill="black"/>
                            </svg>
                        </div>
                        Digital Banking for the Next Generation
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>