<div
    class="py-[60px] md:py-[80px] lg:py-[100px] xl:py-[150px] bg-center bg-cover bg-no-repeat"
    style="background-image: url(assets/images/banners/banner-bg1.jpg);"
>
    <div class="mx-auto px-[12px] sm:max-w-[540px] md:max-w-[720px] lg:max-w-[960px] xl:max-w-[1140px] 2xl:max-w-[1920px] 2xl:px-[30px] 3xl:px-[120px]">
        <div class="banner-slides sm:max-w-[400px] md:max-w-[450px] lg:max-w-[550px] xl:max-w-[620px]">
            <owl-carousel-o [options]="bannerSlides">
                <ng-template carouselSlide>
                    <span class="block uppercase font-medium text-[14px] md:text-[15px] lg:text-[16px] text-[#0a64bc] mb-[7px] md:mb-[8px] lg:mb-[9px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                        Welcome to Banking
                    </span>
                    <h1 class="text-black font-bold text-[34px] md:text-[43px] lg:text-[50px] xl:text-[70px] font-serif leading-[1.1] mb-[12px] lg:mb-[15px] xl:mb-[17px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                        Modern Banking for Modern Lives.
                    </h1>
                    <p class="text-[#4c4c4c] text-[15px] md:text-[16px] lg:text-[17px] xl:text-[18px] leading-[1.7] mb-[15px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                        Welcome to a new era of banking at Tartu, where traditional boundaries fade away and possibilities expand. 
                    </p>
                    <a routerLink="/home-loan" class="mt-[2px] md:mt-[5px] lg:mt-[10px] xl:mt-[20px] py-[11px] md:py-[12px] lg:py-[13px] px-[30px] md:px-[40px] inline-block text-white text-[13px] md:text-[14px] font-medium uppercase border border-[#0a64bc] bg-[#0a64bc] rounded-full transition-all hover:bg-white hover:text-[#0a64bc]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                        Learn More
                    </a>
                </ng-template>
                <ng-template carouselSlide>
                    <span class="block uppercase font-medium text-[14px] md:text-[15px] lg:text-[16px] text-[#0a64bc] mb-[7px] md:mb-[8px] lg:mb-[9px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                        Financial Future
                    </span>
                    <h1 class="text-black font-bold text-[34px] md:text-[43px] lg:text-[50px] xl:text-[70px] font-serif leading-[1.1] mb-[12px] lg:mb-[15px] xl:mb-[17px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                        Elevate Banking Experience.
                    </h1>
                    <p class="text-[#4c4c4c] text-[15px] md:text-[16px] lg:text-[17px] xl:text-[18px] leading-[1.7] mb-[15px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                        Welcome to a new era of banking at Tartu, where traditional boundaries fade away and possibilities expand. 
                    </p>
                    <a routerLink="/home-loan" class="mt-[2px] md:mt-[5px] lg:mt-[10px] xl:mt-[20px] py-[11px] md:py-[12px] lg:py-[13px] px-[30px] md:px-[40px] inline-block text-white text-[13px] md:text-[14px] font-medium uppercase border border-[#0a64bc] bg-[#0a64bc] rounded-full transition-all hover:bg-white hover:text-[#0a64bc]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                        Learn More
                    </a>
                </ng-template>
                <ng-template carouselSlide>
                    <span class="block uppercase font-medium text-[14px] md:text-[15px] lg:text-[16px] text-[#0a64bc] mb-[7px] md:mb-[8px] lg:mb-[9px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                        Your Money, Your Way
                    </span>
                    <h1 class="text-black font-bold text-[34px] md:text-[43px] lg:text-[50px] xl:text-[70px] font-serif leading-[1.1] mb-[12px] lg:mb-[15px] xl:mb-[17px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                        Simplify Savings with Our Banking.
                    </h1>
                    <p class="text-[#4c4c4c] text-[15px] md:text-[16px] lg:text-[17px] xl:text-[18px] leading-[1.7] mb-[15px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                        Welcome to a new era of banking at Tartu, where traditional boundaries fade away and possibilities expand. 
                    </p>
                    <a routerLink="/home-loan" class="mt-[2px] md:mt-[5px] lg:mt-[10px] xl:mt-[20px] py-[11px] md:py-[12px] lg:py-[13px] px-[30px] md:px-[40px] inline-block text-white text-[13px] md:text-[14px] font-medium uppercase border border-[#0a64bc] bg-[#0a64bc] rounded-full transition-all hover:bg-white hover:text-[#0a64bc]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                        Learn More
                    </a>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</div>