<div class="py-[60px] md:py-[80px] lg:py-[100px] xl:py-[120px]">
    <div class="container mx-auto px-[12px] 2xl:px-0">
        <div class="grid grid-cols-1 lg:grid-cols-2 gap-[25px]">
            <div class="self-center text-center relative md:pr-[100px] md:pb-[80px] lg:pr-[50px] lg:pb-[80px] xl:pr-[100px] xl:pb-[80px]">
                <div class="rounded-[20px] relative z-[1] md:pr-[12px] before:left-0 before:top-0 before:bottom-0 before:right-0 before:bg-[#b31942] before:absolute before:-z-[1] before:rounded-[20px] before:hidden md:before:block" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    <img src="assets/images/small-to-large-business/stlb1.jpg" class="inline rounded-[20px]" alt="small-to-large-business-image">
                </div>
                <img src="assets/images/small-to-large-business/stlb2.jpg" class="inline rounded-[20px] md:absolute bottom-0 right-0 lg:right-[10px] xl:right-[30px] z-[1] md:border-[10px] border-white md:max-w-[286px] lg:max-w-[200px] xl:max-w-[286px] mt-[25px] md:mt-0" alt="small-to-large-business-image" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
            </div>
            <div class="self-center xl:pl-[20px]">
                <span class="block uppercase font-medium text-[14px] md:text-[15px] lg:text-[16px] text-[#0a64bc] mb-[7px] md:mb-[8px] lg:mb-[10px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    Small to Large Size Business
                </span>
                <h2 class="text-black font-bold font-serif text-[28px] md:text-[34px] lg:text-[38px] xl:text-[42px] leading-[1.2] mb-[12px] lg:mb-[20px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                    Navigating Complexity with Ease: Digital Banking for Small to Large Enterprises
                </h2>
                <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7] mb-[15px] xl:max-w-[540px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                    As digital banking continues to evolve, we're witnessing an exciting transformation in the financial landscape. From peer-to-peer payments to AI-powered chatbots, the possibilities are endless.
                </p>
                <a routerLink="/login" class="mt-[2px] md:mt-[5px] xl:mt-[15px] py-[11px] md:py-[12px] lg:py-[13px] px-[30px] md:px-[40px] inline-block text-white text-[13px] md:text-[14px] font-medium uppercase border border-[#0a64bc] bg-[#0a64bc] rounded-full transition-all hover:bg-white hover:text-[#0a64bc]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                    Get Started
                </a>
            </div>
        </div>
    </div>
</div>