<div class="bg-[#f0f8ff]">

    <!-- Page Title -->
    <div class="pt-[20px] md:pt-[25px]">
        <div class="container mx-auto px-[12px] 2xl:px-0">
            <ul class="text-[#4c4c4c] text-[14px]">
                <li class="inline-block mr-[22px] last:mr-[0] relative before:absolute before:-right-[11px] before:top-[3.5px] before:w-[1px] before:h-[8px] before:bg-[#4c4c4c] before:-rotate-[45deg] after:absolute after:-right-[11px] after:bottom-[3.5px] after:w-[1px] after:h-[8px] after:bg-[#4c4c4c] after:rotate-[45deg] last:before:hidden last:after:hidden">
                    <a routerLink="/" class="transition-all hover:text-[#0a64bc]">
                        Home
                    </a>
                </li>
                <li class="inline-block mr-[22px] last:mr-[0] relative before:absolute before:-right-[11px] before:top-[3.5px] before:w-[1px] before:h-[8px] before:bg-[#4c4c4c] before:-rotate-[45deg] after:absolute after:-right-[11px] after:bottom-[3.5px] after:w-[1px] after:h-[8px] after:bg-[#4c4c4c] after:rotate-[45deg] last:before:hidden last:after:hidden">
                    Savings & Investments
                </li>
            </ul>
        </div>
    </div>
    <div class="pt-[60px] md:pt-[80px] lg:pt-[75px] pb-[60px] md:pb-[80px] lg:pb-[100px] xl:pb-[120px]">
        <div class="container mx-auto px-[12px] 2xl:px-0">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-[25px]">
                <div class="self-center">
                    <span class="block uppercase font-medium text-[14px] md:text-[15px] lg:text-[16px] text-[#0a64bc] mb-[7px] md:mb-[8px] lg:mb-[10px] xl:mb-[12px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                        Savings & Investments
                    </span>
                    <h2 class="text-black font-bold font-serif text-[28px] md:text-[34px] lg:text-[38px] xl:text-[42px] leading-[1.2]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                        Unleash the Power of Smart Saving and Strategic Investments with Tartu Comprehensive Range of Solutions
                    </h2>
                </div>
                <div class="self-center xl:ml-[80px] 2xl:ml-[130px] relative z-[1] md:pl-[10px] before:left-0 before:top-0 before:bottom-0 before:right-0 before:bg-[#b31942] before:absolute before:-z-[1] before:rounded-[20px] before:hidden md:before:block" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    <img src="assets/images/girl-with-money.jpg" class="rounded-[20px]" alt="girl-with-money-image">
                </div>
            </div>
        </div>
    </div>
    <!-- End Page Title -->

    <app-simplify-style-two></app-simplify-style-two>

    <app-investments-solutions></app-investments-solutions>

    <!-- Know About Investments -->
    <div class="pb-[60px] md:pb-[80px] lg:pb-[100px] xl:pb-[120px]">
        <div class="container mx-auto px-[12px] 2xl:px-0">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-[25px]">
                <div class="self-center text-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    <img src="assets/images/girl-with-piggy-bank.jpg" class="rounded-[20px] inline" alt="girl-with-piggy-bank-image">
                </div>
                <div class="self-center xl:pl-[15px] 2xl:pl-[40px]">
                    <span class="block uppercase font-medium text-[14px] md:text-[15px] lg:text-[16px] text-[#0a64bc] mb-[7px] md:mb-[8px] lg:mb-[10px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                        Know About Investments
                    </span>
                    <h2 class="text-black font-bold font-serif text-[28px] md:text-[34px] lg:text-[38px] xl:text-[42px] ml-auto mr-auto lg:max-w-[640px] leading-[1.2] mb-[15px] md:mb-[20px] xl:mb-[25px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                        Smart Investments for a Bright Financial Future
                    </h2>
                    <div class="mb-[20px] md:mb-[25px] xl:mb-[40px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                        <h3 class="text-black font-serif font-bold text-[18px] md:text-[20px] lg:text-[22px] mb-[10px] md:mb-[12px] xl:mb-[15px]">
                            1. Seamless Accessibility Anytime, Anywhere
                        </h3>
                        <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7] xl:max-w-[521px]">
                            Digital banking brings the convenience of managing your finances right to your fingertips. With mobile apps and online platforms, you can access your accounts, make transactions, pay bills, and monitor your financial activities from the comfort of your home, office, or even on-the-go.
                        </p>
                    </div>
                    <div class="mb-[20px] md:mb-[25px] xl:mb-[40px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                        <h3 class="text-black font-serif font-bold text-[18px] md:text-[20px] lg:text-[22px] mb-[10px] md:mb-[12px] xl:mb-[15px]">
                            2. Intelligent Financial Insights and Management
                        </h3>
                        <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7] xl:max-w-[521px]">
                            One of the most compelling features of digital banking is its ability to provide deep insights into your financial health. With advanced analytics, you can track spending patterns, set budgets, and receive personalized recommendations to help you make informed money decisions.
                        </p>
                    </div>
                    <a routerLink="/about" class="py-[11px] md:py-[12px] lg:py-[13px] px-[30px] md:px-[40px] inline-block text-white text-[13px] md:text-[14px] font-medium uppercase border border-[#0a64bc] bg-[#0a64bc] rounded-full transition-all hover:bg-white hover:text-[#0a64bc]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="500">
                        Learn More
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- End About Investments -->

    <app-start-invest></app-start-invest>

    <!-- Know About Taxation -->
    <div class="py-[60px] md:py-[80px] lg:py-[100px] xl:py-[120px]">
        <div class="container mx-auto px-[12px] 2xl:px-0">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-[25px]">
                <div class="self-center xl:pr-[30px] 2xl:pr-[120px]">
                    <span class="block uppercase font-medium text-[14px] md:text-[15px] lg:text-[16px] text-[#0a64bc] mb-[7px] md:mb-[8px] lg:mb-[10px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                        Know About Taxation
                    </span>
                    <h2 class="text-black font-bold font-serif text-[28px] md:text-[34px] lg:text-[38px] xl:text-[42px] leading-[1.2] mb-[12px] lg:mb-[20px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                        Navigating the Complexities of Taxes with Expert Insights
                    </h2>
                    <p class="text-[14px] md:text-[15px] text-[#4c4c4c] leading-[1.7] mb-[15px] xl:max-w-[540px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
                        One of the most compelling features of digital banking is its ability to provide deep insights into your financial health. With advanced analytics, you can track spending patterns, set budgets, and receive personalized recommendations to help you make informed money decisions.
                    </p>
                    <a routerLink="/" class="mt-[2px] md:mt-[5px] xl:mt-[15px] py-[11px] md:py-[12px] lg:py-[13px] px-[30px] md:px-[40px] inline-block text-white text-[13px] md:text-[14px] font-medium uppercase border border-[#0a64bc] bg-[#0a64bc] rounded-full transition-all hover:bg-white hover:text-[#0a64bc]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="400">
                        Learn More
                    </a>
                </div>
                <div class="self-center text-center" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                    <img src="assets/images/taxation.jpg" class="inline rounded-[20px]" alt="taxation-image">
                </div>
            </div>
        </div>
    </div>
    <!-- End Know About Taxation -->

</div>