<div class="bg-[#f0f8ff]">

    <app-hometwo-banner></app-hometwo-banner>

    <app-why-choose-style-two></app-why-choose-style-two>

    <app-mission-vision-style-two></app-mission-vision-style-two>

    <app-funfacts></app-funfacts>

    <app-solutions-style-two></app-solutions-style-two>

    <app-simplify-style-two></app-simplify-style-two>

    <app-loans-style-two></app-loans-style-two>

    <app-testimonials-style-two></app-testimonials-style-two>

    <app-cta-style-two></app-cta-style-two>

    <app-features></app-features>

    <app-credit-debit-card></app-credit-debit-card>

</div>