<app-homeone-banner></app-homeone-banner>

<app-what-we-do></app-what-we-do>

<div class="gradient-bg relative z-[1] before:absolute before:left-0 before:right-0 before:top-0 before:bottom-0 before:-z-[1] before:mt-[360px] before:-mb-[100px]">

    <app-why-choose-style-one></app-why-choose-style-one>

    <app-solutions-style-one></app-solutions-style-one>

</div>

<app-mission-vision-style-one></app-mission-vision-style-one>

<app-testimonials-style-one></app-testimonials-style-one>

<app-partner></app-partner>

<app-loans-style-one></app-loans-style-one>

<app-credit-debit-card></app-credit-debit-card>

<app-simplify-style-one></app-simplify-style-one>

<app-cta-style-one></app-cta-style-one>

<app-small-to-large-business></app-small-to-large-business>

<app-download-app></app-download-app>