<div class="py-[60px] md:py-[80px] lg:py-[100px] xl:py-[120px]">
    <div class="container mx-auto px-[12px] 2xl:px-0">
        <div class="mb-[30px] md:mb-[40px] lg:mb-[50px] text-center">
            <span class="block uppercase font-medium text-[14px] md:text-[15px] lg:text-[16px] text-[#0a64bc] mb-[7px] md:mb-[8px] lg:mb-[10px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="100">
                Our Pricing
            </span>
            <h2 class="text-black font-bold font-serif text-[28px] md:text-[34px] lg:text-[38px] xl:text-[42px] ml-auto mr-auto lg:max-w-[640px] leading-[1.2]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="200">
                Elevate Your Banking: Introducing Our Flexible Plans
            </h2>
        </div>
        <div class="bg-white rounded-[20px] ml-auto mr-auto xl:max-w-[1095px]" data-aos="fade-up" data-aos-duration="500" data-aos-delay="300">
            <div class="group grid grid-cols-1 md:grid-cols-2 border-b border-[#e4e7fb] md:ml-[25px] lg:ml-[50px] xl:ml-[72px] last:border-none">
                <div class="self-center px-[20px] md:px-0 pt-[20px] pb-[20px] md:pt-[40px] md:pb-[40px]">
                    <h3 class="font-serif text-[18px] md:text-[20px] lg:text-[22px] text-black font-bold mb-[10px] md:mb-[20px]">
                        Basic
                    </h3>
                    <ul class="text-[14px] md:text-[15px] text-[#4c4c4c]">
                        <li class="relative pl-[26px] md:pl-[32px] mb-[12px] last:mb-0">
                            <i class="ri-check-fill left-0 top-0 md:-top-[1.5px] absolute text-black text-[20px] md:text-[25px] leading-none"></i>
                            Online and mobile account access
                        </li>
                        <li class="relative pl-[26px] md:pl-[32px] mb-[12px] last:mb-0">
                            <i class="ri-check-fill left-0 top-0 md:-top-[1.5px] absolute text-black text-[20px] md:text-[25px] leading-none"></i>
                            Bill payment and funds transfers
                        </li>
                        <li class="relative pl-[26px] md:pl-[32px] mb-[12px] last:mb-0">
                            <i class="ri-check-fill left-0 top-0 md:-top-[1.5px] absolute text-black text-[20px] md:text-[25px] leading-none"></i>
                            Account alerts and notifications
                        </li>
                        <li class="relative pl-[26px] md:pl-[32px] mb-[12px] last:mb-0">
                            <i class="ri-check-fill left-0 top-0 md:-top-[1.5px] absolute text-black text-[20px] md:text-[25px] leading-none"></i>
                            Customer support via chat and email
                        </li>
                    </ul>
                </div>
                <div class="self-center h-full w-full md:w-[200px] ml-auto text-center relative z-[1] before:absolute before:left-[-5px] before:top-0 before:bottom-0 before:right-0 before:-z-[1] group-first:before:rounded-t-[20px] group-last:before:rounded-b-[20px] before:bg-[#b31942] before:hidden md:before:block">
                    <div class="py-[15px] bg-[#0a64bc] h-full font-serif font-bold text-[18px] md:text-[20px] lg:text-[22px] text-white group-first:rounded-t-[20px] group-last:rounded-b-[20px] flex items-center justify-center">
                        Free
                    </div>
                </div>
            </div>
            <div class="group grid grid-cols-1 md:grid-cols-2 border-b border-[#e4e7fb] md:ml-[25px] lg:ml-[50px] xl:ml-[72px] last:border-none">
                <div class="self-center px-[20px] md:px-0 pt-[20px] pb-[20px] md:pt-[40px] md:pb-[40px]">
                    <h3 class="font-serif text-[18px] md:text-[20px] lg:text-[22px] text-black font-bold mb-[10px] md:mb-[20px]">
                        Standard
                    </h3>
                    <ul class="text-[14px] md:text-[15px] text-[#4c4c4c]">
                        <li class="relative pl-[26px] md:pl-[32px] mb-[12px] last:mb-0">
                            <i class="ri-check-fill left-0 top-0 md:-top-[1.5px] absolute text-black text-[20px] md:text-[25px] leading-none"></i>
                            All Basic Plan features
                        </li>
                        <li class="relative pl-[26px] md:pl-[32px] mb-[12px] last:mb-0">
                            <i class="ri-check-fill left-0 top-0 md:-top-[1.5px] absolute text-black text-[20px] md:text-[25px] leading-none"></i>
                            Mobile app with enhanced features
                        </li>
                        <li class="relative pl-[26px] md:pl-[32px] mb-[12px] last:mb-0">
                            <i class="ri-check-fill left-0 top-0 md:-top-[1.5px] absolute text-black text-[20px] md:text-[25px] leading-none"></i>
                            Mobile check deposits
                        </li>
                        <li class="relative pl-[26px] md:pl-[32px] mb-[12px] last:mb-0">
                            <i class="ri-check-fill left-0 top-0 md:-top-[1.5px] absolute text-black text-[20px] md:text-[25px] leading-none"></i>
                            Budgeting and spending insights
                        </li>
                        <li class="relative pl-[26px] md:pl-[32px] mb-[12px] last:mb-0">
                            <i class="ri-check-fill left-0 top-0 md:-top-[1.5px] absolute text-black text-[20px] md:text-[25px] leading-none"></i>
                            ATM fee reimbursements (up to a certain limit)
                        </li>
                        <li class="relative pl-[26px] md:pl-[32px] mb-[12px] last:mb-0">
                            <i class="ri-check-fill left-0 top-0 md:-top-[1.5px] absolute text-black text-[20px] md:text-[25px] leading-none"></i>
                            Priority customer support
                        </li>
                    </ul>
                </div>
                <div class="self-center h-full w-full md:w-[200px] ml-auto text-center relative z-[1] before:absolute before:left-[-5px] before:top-0 before:bottom-0 before:right-0 before:-z-[1] group-first:before:rounded-t-[20px] group-last:before:rounded-b-[20px] before:bg-[#b31942] before:hidden md:before:block">
                    <div class="py-[15px] bg-[#0a64bc] h-full font-serif font-bold text-[18px] md:text-[20px] lg:text-[22px] text-white group-first:rounded-t-[20px] group-last:rounded-b-[20px] flex items-center justify-center">
                        $5<span class="font-medium text-[17px]">/month</span>
                    </div>
                </div>
            </div>
            <div class="group grid grid-cols-1 md:grid-cols-2 border-b border-[#e4e7fb] md:ml-[25px] lg:ml-[50px] xl:ml-[72px] last:border-none">
                <div class="self-center px-[20px] md:px-0 pt-[20px] pb-[20px] md:pt-[40px] md:pb-[40px]">
                    <h3 class="font-serif text-[18px] md:text-[20px] lg:text-[22px] text-black font-bold mb-[10px] md:mb-[20px]">
                        Premium
                    </h3>
                    <ul class="text-[14px] md:text-[15px] text-[#4c4c4c]">
                        <li class="relative pl-[26px] md:pl-[32px] mb-[12px] last:mb-0">
                            <i class="ri-check-fill left-0 top-0 md:-top-[1.5px] absolute text-black text-[20px] md:text-[25px] leading-none"></i>
                            All Standard Plan features
                        </li>
                        <li class="relative pl-[26px] md:pl-[32px] mb-[12px] last:mb-0">
                            <i class="ri-check-fill left-0 top-0 md:-top-[1.5px] absolute text-black text-[20px] md:text-[25px] leading-none"></i>
                            Premium mobile app features
                        </li>
                        <li class="relative pl-[26px] md:pl-[32px] mb-[12px] last:mb-0">
                            <i class="ri-check-fill left-0 top-0 md:-top-[1.5px] absolute text-black text-[20px] md:text-[25px] leading-none"></i>
                            Unlimited ATM fee reimbursements
                        </li>
                        <li class="relative pl-[26px] md:pl-[32px] mb-[12px] last:mb-0">
                            <i class="ri-check-fill left-0 top-0 md:-top-[1.5px] absolute text-black text-[20px] md:text-[25px] leading-none"></i>
                            Investment tracking and financial portfolio management
                        </li>
                        <li class="relative pl-[26px] md:pl-[32px] mb-[12px] last:mb-0">
                            <i class="ri-check-fill left-0 top-0 md:-top-[1.5px] absolute text-black text-[20px] md:text-[25px] leading-none"></i>
                            Personalized financial advice and recommendations
                        </li>
                        <li class="relative pl-[26px] md:pl-[32px] mb-[12px] last:mb-0">
                            <i class="ri-check-fill left-0 top-0 md:-top-[1.5px] absolute text-black text-[20px] md:text-[25px] leading-none"></i>
                            Access to exclusive offers and discounts
                        </li>
                    </ul>
                </div>
                <div class="self-center h-full w-full md:w-[200px] ml-auto text-center relative z-[1] before:absolute before:left-[-5px] before:top-0 before:bottom-0 before:right-0 before:-z-[1] group-first:before:rounded-t-[20px] group-last:before:rounded-b-[20px] before:bg-[#b31942] before:hidden md:before:block">
                    <div class="py-[15px] bg-[#0a64bc] h-full font-serif font-bold text-[18px] md:text-[20px] lg:text-[22px] text-white group-first:rounded-t-[20px] group-last:rounded-b-[20px] flex items-center justify-center">
                        $15<span class="font-medium text-[17px]">/month</span>
                    </div>
                </div>
            </div>
            <div class="group grid grid-cols-1 md:grid-cols-2 border-b border-[#e4e7fb] md:ml-[25px] lg:ml-[50px] xl:ml-[72px] last:border-none">
                <div class="self-center px-[20px] md:px-0 pt-[20px] pb-[20px] md:pt-[40px] md:pb-[40px]">
                    <h3 class="font-serif text-[18px] md:text-[20px] lg:text-[22px] text-black font-bold mb-[10px] md:mb-[20px]">
                        Business
                    </h3>
                    <ul class="text-[14px] md:text-[15px] text-[#4c4c4c]">
                        <li class="relative pl-[26px] md:pl-[32px] mb-[12px] last:mb-0">
                            <i class="ri-check-fill left-0 top-0 md:-top-[1.5px] absolute text-black text-[20px] md:text-[25px] leading-none"></i>
                            Business account management tools
                        </li>
                        <li class="relative pl-[26px] md:pl-[32px] mb-[12px] last:mb-0">
                            <i class="ri-check-fill left-0 top-0 md:-top-[1.5px] absolute text-black text-[20px] md:text-[25px] leading-none"></i>
                            Invoice generation and payment processing
                        </li>
                        <li class="relative pl-[26px] md:pl-[32px] mb-[12px] last:mb-0">
                            <i class="ri-check-fill left-0 top-0 md:-top-[1.5px] absolute text-black text-[20px] md:text-[25px] leading-none"></i>
                            Payroll management and employee payment features
                        </li>
                        <li class="relative pl-[26px] md:pl-[32px] mb-[12px] last:mb-0">
                            <i class="ri-check-fill left-0 top-0 md:-top-[1.5px] absolute text-black text-[20px] md:text-[25px] leading-none"></i>
                            Merchant services integration
                        </li>
                        <li class="relative pl-[26px] md:pl-[32px] mb-[12px] last:mb-0">
                            <i class="ri-check-fill left-0 top-0 md:-top-[1.5px] absolute text-black text-[20px] md:text-[25px] leading-none"></i>
                            Customizable access controls for multiple users
                        </li>
                    </ul>
                </div>
                <div class="self-center h-full w-full md:w-[200px] ml-auto text-center relative z-[1] before:absolute before:left-[-5px] before:top-0 before:bottom-0 before:right-0 before:-z-[1] group-first:before:rounded-t-[20px] group-last:before:rounded-b-[20px] before:bg-[#b31942] before:hidden md:before:block">
                    <div class="py-[15px] bg-[#0a64bc] h-full font-serif font-bold text-[18px] md:text-[20px] lg:text-[22px] text-white group-first:rounded-t-[20px] group-last:rounded-b-[20px] flex items-center justify-center">
                        $45<span class="font-medium text-[17px]">/month</span>
                    </div>
                </div>
            </div>
            <div class="group grid grid-cols-1 md:grid-cols-2 border-b border-[#e4e7fb] md:ml-[25px] lg:ml-[50px] xl:ml-[72px] last:border-none">
                <div class="self-center px-[20px] md:px-0 pt-[20px] pb-[20px] md:pt-[40px] md:pb-[40px]">
                    <h3 class="font-serif text-[18px] md:text-[20px] lg:text-[22px] text-black font-bold mb-[10px] md:mb-[20px]">
                        Student/Educational Plan
                    </h3>
                    <ul class="text-[14px] md:text-[15px] text-[#4c4c4c]">
                        <li class="relative pl-[26px] md:pl-[32px] mb-[12px] last:mb-0">
                            <i class="ri-check-fill left-0 top-0 md:-top-[1.5px] absolute text-black text-[20px] md:text-[25px] leading-none"></i>
                            Basic account access
                        </li>
                        <li class="relative pl-[26px] md:pl-[32px] mb-[12px] last:mb-0">
                            <i class="ri-check-fill left-0 top-0 md:-top-[1.5px] absolute text-black text-[20px] md:text-[25px] leading-none"></i>
                            Financial education resources
                        </li>
                        <li class="relative pl-[26px] md:pl-[32px] mb-[12px] last:mb-0">
                            <i class="ri-check-fill left-0 top-0 md:-top-[1.5px] absolute text-black text-[20px] md:text-[25px] leading-none"></i>
                            Budgeting tools and spending insights
                        </li>
                        <li class="relative pl-[26px] md:pl-[32px] mb-[12px] last:mb-0">
                            <i class="ri-check-fill left-0 top-0 md:-top-[1.5px] absolute text-black text-[20px] md:text-[25px] leading-none"></i>
                            Access to student-specific offers and discounts
                        </li>
                    </ul>
                </div>
                <div class="self-center h-full w-full md:w-[200px] ml-auto text-center relative z-[1] before:absolute before:left-[-5px] before:top-0 before:bottom-0 before:right-0 before:-z-[1] group-first:before:rounded-t-[20px] group-last:before:rounded-b-[20px] before:bg-[#b31942] before:hidden md:before:block">
                    <div class="py-[15px] bg-[#0a64bc] h-full font-serif font-bold text-[18px] md:text-[20px] lg:text-[22px] text-white group-first:rounded-t-[20px] group-last:rounded-b-[20px] flex items-center justify-center">
                        $2<span class="font-medium text-[17px]">/month</span>
                    </div>
                </div>
            </div>
            <div class="group grid grid-cols-1 md:grid-cols-2 border-b border-[#e4e7fb] md:ml-[25px] lg:ml-[50px] xl:ml-[72px] last:border-none">
                <div class="self-center px-[20px] md:px-0 pt-[20px] pb-[20px] md:pt-[40px] md:pb-[40px]">
                    <a routerLink="/login" class="py-[11px] md:py-[12px] lg:py-[13px] px-[30px] md:px-[40px] inline-block text-white text-[13px] md:text-[14px] font-medium uppercase border border-[#0a64bc] bg-[#0a64bc] rounded-full transition-all hover:bg-white hover:text-[#0a64bc]">
                        Open Account
                    </a>
                </div>
                <div class="self-center h-full w-full md:w-[200px] ml-auto text-center relative z-[1] before:absolute before:left-[-5px] before:top-0 before:bottom-0 before:right-0 before:-z-[1] group-first:before:rounded-t-[20px] group-last:before:rounded-b-[20px] before:bg-[#b31942] before:hidden md:before:block">
                    <div class="py-[15px] bg-[#0a64bc] h-full font-serif font-bold text-[18px] md:text-[20px] lg:text-[22px] text-white group-first:rounded-t-[20px] group-last:rounded-b-[20px] flex items-center justify-center hidden md:block">
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>